<header>
    <div class="menu" style="z-index: 2000001;">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <nav style="z-index: 2000000;">
        <a class="brand">
            <img class="img-logo" routerLink="/home" src="../../../assets/img/logo_kuldasac.png" />
        </a>
        <ul>
        <li class="nav-item">
            <a routerLink="/directory" [ngClass]="{'nav-link': !isNavDirectory(), 'nav-link-selected': isNavDirectory()}" data-text="Directory">Directory</a>
        </li>
        <li class="nav-item">
            <a routerLink="/contact" [ngClass]="{'nav-link': !isNavContact(), 'nav-link-selected': isNavContact()}" data-text="Contact">Contact</a>
        </li>
        <li class="nav-item">
            <a routerLink="/why-us" [ngClass]="{'nav-link': !isNavWhyUs(), 'nav-link-selected': isNavWhyUs()}" data-text="Why Us">Why Us</a>
        </li>
        

        <li class="nav-item nav-link-sign" *ngIf="(mAuth.authState | async)" (click)="onSignOut()">
            <a style="color: #000" data-text="Sign Out">SIGN OUT</a>
        </li>
            <!-- DROPDOWN MENU -->
        <button class="btn-sign-in" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="!(mAuth.authState | async)">
            <a data-text="Sign In">SIGN IN</a>
        </button>
        
        <mat-menu #menu="matMenu">
            <div class="dropdown-item" mat-menu-item (click)="onSignIn('seller')">
                SELLER
            </div>
            <div class="dropdown-item" mat-menu-item (click)="onSignIn('investor')">
                INVESTOR
            </div>
          </mat-menu>

            
        </ul>
    </nav>

      <!-- TRANSCLUSION -->
      <ng-content></ng-content>
</header>

