*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

header{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.85);
    position: fixed;
    transform: scaleX(0);
    opacity: 0;
    transition: opacity 1s;
}

.menu{
    padding: 1rem 1.5rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #fff;
    z-index: 999;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

.bar,
.bar::before,
.bar::after{
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1px;
    background-color: #44C6F3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 650ms;
}

.bar::before{
    top: -1rem;
}

.bar::after{
    top: 1rem;
}

.open .bar{
    background-color: transparent;
}

.open .bar::before{
    transform: rotate(45deg);
}

.open .bar::after{
    transform: rotate(-45deg);
}

.open .bar::before,
.open .bar::after{
    top: 0;
}

nav{
    width: 100%;
    height: 5rem;
    font-family: Century Gothic, 'Roboto';
    font-weight: bold;
    line-height: 5rem;
    display: flex;
    text-transform: uppercase;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    overflow: hidden;
}

a{
    text-decoration: none;
}

.brand{
   margin-left: 3rem;
   outline: none;
}

.img-logo{
    width: 200px;
    outline: none;
}

nav ul{
    display: flex;
    margin-left: auto;
    margin-right: 4rem;
    list-style: none;
}

.nav-link-selected{
    font-size: 1em;
    background-color: #44C6F3;
    color: white;
    margin-right: 2rem;
    padding: 0 1rem;
    display: block;
    position: relative;
}

.nav-link{
    font-size: 1em;
    color: #44C6F3;
    margin-right: 2rem;
    padding: 0 1rem;
    display: block;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: top;
    transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
}

.nav-link:hover{
    transform: rotateX(90deg);
}

.nav-item:last-child .nav-link{
    margin-right: 0;
}

.nav-link::after{
    background-color: #44C6F3;
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: -100%;
    padding: inherit;
    color: #fff;
    transform: rotateX(-90deg);
    transform-origin: top;
}

.nav-item:nth-child(odd){
    animation: up 1s forwards;
}

.nav-item:nth-child(even){
    animation: down 1s forwards;
}


.dropdown{
    height: 100%;
    cursor: pointer;
    padding: 0em .3em;
    margin-right: 2em;
  }
  
  .dropdown-toggle, .dropdown-toggle-white{
    height: 100%;
    border: none;
    cursor: pointer;
    padding: 0em 1.2em;
    outline: none;
  }
  
  .dropdown-toggle{
    background-color: #13335A;
  }
  
  .dropdown-toggle-white{
    background-color: white;
  }
  
  .dropdown-menu, .dropdown-menu-white{
    box-shadow: 7px 3px 12px #00000029;
    border-radius: 0px 0px 13px 13px;
    margin-top: -.05em;
    padding-top: 0 !important;
  }
  
  .dropdown-menu{
    background-color: #13335A !important;
  }
  
  .dropdown-menu-white,.dropdown-menu-clinic{
    background-color: white !important;
  }
  .dropdown-menu-clinic{
    width: 80%;
    margin-left: 10%;
    border: 0 !important;
    box-shadow: (7px - (7px * .2)) (4px - (4px * .2)) (6px - (6px * .2)) #00000029 !important;
    border-radius: 0px 0px (13px - (13px * .2)) (13px - (13px * .2)) !important;
  }
  
  .dropdown-item-patient-portal-signout{
    color: white !important;
  }
  
  .dropdown-item-id, .dropdown-item-patient-portal-signout{
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 20px - (20px * .2);
    letter-spacing: 0px;
    opacity: 1;
  }
  
  .dropdown-item-id-white, .dropdown-item-white-signout{
    letter-spacing: 0px;
    color: #BECAD5 !important;
    font-family: 'sf_pro_regular';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown-item-id-white, .dropdown-item-white-signout{
    background-color: white !important;
    opacity: .8;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .dropdown-item-id:hover, .dropdown-item-patient-portal-signout:hover{
    background-color: #13335A !important;
    opacity: .8;
  }
  
  .dropdown-item-id{
    color: #6EA5EB !important;
  
  }
  
  .dropdown-item-id-clinician{
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 20px - (20px * .2);
    letter-spacing: 0px;
    color: #556470 !important;
    opacity: 1;
  }
  
  .dropdown-item-sign-out-clinician{
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 18px - (18px * .2);
    letter-spacing: 0px;
    color: #307FE2 !important;
    opacity: 1;
  }

.btn-sign-in{
    border-radius: 0;
    height: 100%;
    width: 8em;
    font-family: Century Gothic, 'Roboto';
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    outline: none;
    border: none;
    color: black;
}

.dropdown-item{
    width: 8em;
    font-family: Century Gothic, 'Roboto';
    font-weight: bold;
    font-size: 1em;
    text-align: center;

  
}
  

@keyframes up {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes down {
    from{
        transform: translateY(100%);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .brand{
        margin: 5rem auto 0 auto;
        animation: initial;
        border-radius: 100%;
        width: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header{
        perspective: 75rem;
        overflow: hidden;
    }

    nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        line-height: initial;
        flex-direction: column;
        box-shadow: none;
        text-align: center;
        transform: rotateY(180deg);
        transform-origin: top left;
        transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
    }

    nav ul{
        flex-direction: column;
        padding: 0;
        margin-top: 4rem;
        width: 100%;
    }

    .nav-item{
       
        width: 100%;
    }

    .nav-item:nth-child(n){
        animation: initial;
    }

    .nav-link-selected{
        
        background-color: #44C6F3;
        color: white;
        margin-right: 0;
        padding: 1rem 0;
       
    }
    
    .nav-link{
        font-size: 1em;
        color: #44C6F3;
        margin-right: 0;
        padding: 1rem 0;
    }

    .nav-link-sign{
        padding: 1rem 0 !important;
        width: 100%;
    }

    header.open nav{
        transform: rotateY(0);
    }

    .menu{
        display: block;
    }

    .overlay.open{
        opacity: 1;
        transform: scaleX(1);
    }

    .overlay-open{
        opacity: 1;
        transform: scaleX(1);
    }

    .nav-link:hover{
        transform: none;
    }
}
