<header>
    <div class="menu" style="z-index: 2000001;">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <nav style="z-index: 2000000;" [hidden]="isRouteInvestor()">
        
        <img class="img-logo" routerLink="/home" src="../../../assets/img/logo_kuldasac.png" />
       
        <ul>
        <li class="nav-item">
            <a routerLink="/directory" [ngClass]="{'nav-link': !isNavDirectory(), 'nav-link-selected': isNavDirectory()}" data-text="Directory">Directory</a>
        </li>
        <li class="nav-item">
            <a routerLink="/contact" [ngClass]="{'nav-link': !isNavContact(), 'nav-link-selected': isNavContact()}" data-text="Contact">Contact</a>
        </li>
        <li class="nav-item">
            <a routerLink="/why-us" [ngClass]="{'nav-link': !isNavWhyUs(), 'nav-link-selected': isNavWhyUs()}" data-text="Why Us">Why Us</a>
        </li>
        

        <li class="nav-item nav-link-sign" *ngIf="(mAuth.authState | async)" (click)="onSignOut()">
            <a style="color: #000" data-text="Sign Out">SIGN OUT</a>
        </li>
            <!-- DROPDOWN MENU -->
        <button class="btn-sign-in" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="!(mAuth.authState | async)">
            <a data-text="Sign In">SIGN IN</a>
        </button>
        
        <mat-menu #menu="matMenu">
            <div class="dropdown-item" mat-menu-item (click)="onSignIn('seller')">
                SELLER
            </div>
            <div class="dropdown-item" mat-menu-item (click)="onSignIn('investor')">
                INVESTOR
            </div>
          </mat-menu>

            
        </ul>
    </nav>


    <nav style="z-index: 2000000;" [hidden]="!isRouteInvestor()">
        
        <img class="img-logo" routerLink="/home" src="../../../assets/img/logo_kuldasac.png" />
   
    <ul>
    <li class="tab-invest-home">
        <a routerLink="/directory" [ngClass]="{'nav-link-invest': !isNavDirectory(), 'nav-link-selected': isNavDirectory()}" data-text="HOME">HOME</a>
    </li>
    <li class="tab-invest-listings">
        <a routerLink="/investor/market-listings" [ngClass]="{'nav-link-invest': !isRouteMarketListing(), 'nav-link-selected': isRouteMarketListing()}" data-text="LISTINGS">LISTINGS</a>
    </li>
    <li class="tab-invest-why-us">
        <a routerLink="/why-us" [ngClass]="{'nav-link-invest': !isNavWhyUs(), 'nav-link-selected': isNavWhyUs()}" data-text="WHY US">WHY US</a>
    </li>
    

    <li class="tab-invest-profile" *ngIf="(mAuth.authState | async)" (click)="onSignOut()">
        <img src="../../../assets/img/ic_profile.png" />
    </li>
        <!-- DROPDOWN MENU -->
    <li class="tab-invest-profile" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="!(mAuth.authState | async)">
        <img src="../../../assets/img/ic_profile.png" />
    </li>
        
    </ul>
</nav>

      <!-- TRANSCLUSION -->
      <ng-content></ng-content>
</header>