<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/header_contact_us.jpg" class="img-under-nav"/>
        <div class="row">
          <div class="col-12 top-header-title-container">
            <div class="top-header-title"><span class="top-header-title-bold">CONTACT </span> <span class="top-header-title-light">US</span></div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid d-none d-md-block" style="padding: 4em 0em">
    <div class="row">
        <div class="col-5 offset-3 left-side">
            <p class="description">We are here to answer any questions you may have and will respond as soon as possible.</p>
            <input type="text" class="contact-input" placeholder="Name"/>
            <input type="text" class="contact-input" placeholder="Email"/>
            <textarea placeholder="Message" class="text-area" rows="5" name=""></textarea>
            <div class="btn-container">
                <button class="btn-send">SEND</button>
            </div>
        </div>
        <div class="col-4 right-side">
            <div class="list-title" style="margin-top: 0em !important">Email:</div>
            <div class="list-item">info@homeface.com</div>
            
            <div class="list-title">Phone:</div>
            <div class="list-item">1-801-580-4435</div>
            
            <div class="list-title">Address:</div>
            <div class="list-item">496 S 2150 E</div>
            <div class="list-item">Pleasant Grove</div>
            <div class="list-item">UT 84062</div>
        </div>
    </div>
</div>
<div class="container-fluid d-block d-md-none" style="padding: 4em 0em">
    <div class="row">
        <div class="col-8 offset-2">
            <p class="description">We are here to answer any questions you may have and will respond as soon as possible.</p>
            <input type="text" class="contact-input" placeholder="Name"/>
            <input type="text" class="contact-input" placeholder="Email"/>
            <textarea placeholder="Message" class="text-area" rows="5" name=""></textarea>
            <div class="btn-container">
                <button class="btn-send">SEND</button>
            </div>
            <div class="list-title" style="margin-top: 0em !important">Email:</div>
            <div class="list-item">info@homeface.com</div>
            
            <div class="list-title">Phone:</div>
            <div class="list-item">1-801-580-4435</div>
            
            <div class="list-title">Address:</div>
            <div class="list-item">496 S 2150 E</div>
            <div class="list-item">Pleasant Grove</div>
            <div class="list-item">UT 84062</div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-12 bottom-page-container" style="background-color: #f1f1f1">
    <div class="container-fluid">
      <div class="row">
         <img src="../../../assets/img/home_slack_icon.png" class="img-fluid img-logo" /> 
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 address">
          HomeSupervisor@homeslack.com<br>
          Copyright 2019 Homeslack 292 Galena Park Blvd, Draper, UT 84020
        </div>
      </div>
    </div>
  </div>
</div>