
@font-face {
    font-family: 'trueno_bold';
    src: url("../../../assets/fonts/trueno/TruenoBd.otf");
}

@font-face {
    font-family: 'trueno_regular';
    src: url("../../../assets/fonts/trueno/TruenoRg.otf");
}

@font-face {
    font-family: 'trueno_light';
    src: url("../../../assets/fonts/trueno/TruenoLt.otf");
}

h1{
    position: absolute;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    text-align: center;
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 52px - (52px * .2);
    letter-spacing: 5.2px;
    color: #FFFFFF;
    opacity: 1;
}

section{
    display: grid;
    grid-template-columns: .55fr .225fr .225fr;
    padding-top: 26px - (26px * .2);
    padding-bottom: 38px - (38px * .2);
    
}

footer{
    height: 198px - (198px * .2);
    background: #F5F1F1 0% 0% no-repeat padding-box;
    opacity: 1;
    display: grid;
    grid-template-columns: .333fr .333fr .333fr;
    margin-bottom: 53px - (53px * .2);

    .btn-container{
        display: flex;
        align-items: center;
        height: 100%;
    }

    button{
        margin-left: auto;
        width: 468px - (468px * .2);
        height: 138px - (138px * .2);
        background: #44C6F3 0% 0% no-repeat padding-box;
        box-shadow: (3px - (3px * .2)) (3px - (3px * .2)) (4px - (4px * .2)) #00000094;
        border-radius: 40px - (40px * .2);
        opacity: 1;
        border: none;
        outline: none;
        cursor: pointer;

        font-family: Century Gothic;
        font-weight: bold;
        font-size: 58px - (58px * .2);
        letter-spacing: 5.8px - (5.8px * .2);
        color: #FFFFFF;
        opacity: 1;
    }

    button:hover{
        opacity: .7;
    }

   

    .container-countdown{ 
        margin: (19px - (19px * .2)) 0;  
        width: 100%;
        border-right: 1.5px solid #707070;
        
        h3{
        
            width: 100%;
            text-align: center;
            font-family: Century Gothic;
            font-size: 29px - (29px * .2);
            font-weight: bold;
            letter-spacing: 2.9px - (2.9px * .2);
            color: #44C6F3;
            opacity: 1;
        }

        .circle-container{

            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 375px - (375px * .2);
            margin: 0 auto;
    
            .column{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                
        
                .circle{
                    width: 69px - (69px * .2);
                    height: 69px - (69px * .2);
                    background: #44C6F3 0% 0% no-repeat padding-box;
                    opacity: 1;
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
    
                    font-family: Century Gothic;
                    font-weight: bold;
                    font-size: 23px - (23px * .2);
                    letter-spacing: 2.3px;
                    color: #FFFFFF;
                    opacity: 1;
                }
                label{
                    font-family: Century Gothic;
                    font-weight: bold;
                    font-size: 14px - (14px * .2);
                    letter-spacing: 1.4px - (1.4px * .2);
                    color: #707070;
                    opacity: 1;
                }
            }
        }
    }

   
  

    
}

.container-gallery{
    padding-left: 14%;
    display: flex;
    flex-direction: row;

    .small-image-column{
        width: 200px - (200px * .2);
        height: 500px;
        margin-left: 21px - (21px * .2);

        display: flex;
        flex-direction: column;


        img{
            width: 100%;
            margin-bottom: 11px - (11px * .2);
        }
    }
   
    .large-image{
        position: relative;
        width: 500px;
     
        img{
            width: 100%;
        }
    
        
    }

   

}

.detail-section{

    width: 50%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 !important;

    .address-container{
            
            margin: 0;;
                
        h5{
            
            text-align: left;
            font-family: 'trueno_bold';
            font-weight: bold;
            font-size: 43px - (43px * .2);
            letter-spacing: 0px;
            color: #2A2A2A;
            opacity: 1;

        
        }

        h6{
            text-align: left;
            font-family: 'trueno_regular';
            font-weight: 400;
            font-size: 21px - (21px * .2);
            letter-spacing: 0px;
            color: #949494;
            opacity: 1;
            border-bottom: 2px solid #C4C4C4;
            padding-bottom: 23px - (23px * .2);
            margin-bottom: 23px - (23px * .2);
        }
    }

    

}

.container-data-column{
    .data-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px - (40px * .2);

        .ic-house{
            width: 25px - (25px * .2);
            height: 25px - (25px * .2);     
        }

        .ic-year{
             width: 26px - (26px * .2);
            height: 25px - (25px * .2);
        }

        .ic-lot-size{
            width: 25px - (25px * .2);
            height: 23px - (23px * .2);
        }
        
        .ic-pool{
            width: 25px - (25px * .2);
            height: 25px - (25px * .2);
        }

        .ic-hot-tub{
            width: 25px - (25px * .2);
            height: 25px - (25px * .2);
        }

        .ic-cooling{
            width: 25px - (25px * .2);
            height: 25px - (25px * .2);
        }
        
        .ic-basement{
            width: 25px - (25px * .2);
            height: 25px - (25px * .2);
        }
        
        .ic-beds{
            width: 25px - (25px * .2);
            height: 25px - (25px * .2);
        }

        .ic-baths{
            width: 25px - (25px * .2);
            height: 25px - (25px * .2);
        }

        .ic-garage{
            width: 25px - (25px * .2);
            height: 25px - (25px * .2);
        }



        .date-row-column{
            display: flex;
            flex-direction: column;
            padding-left: 50px - (50px * .2);
        }

        h3{
            text-align: left;
            font-weight: bold;
            font-family: Century Gothic;
            font-size: 33px - (33px * .2);
            letter-spacing: 3.3px;
            color: #44C6F3;
            opacity: 1;
        }

        h4{
            text-align: left;
            font-weight: 400;
            font-family: Century Gothic;
            font-size: 24px - (24px * .2);
            letter-spacing: 2.4px;
            color: #2D2D2D;
            opacity: 1;
        }
    }

    
}

