<div class="page-container">
    <div style="position: relative; width: 100%;">
        <img src="../../../assets/img/investor_profile_header_1.png" />
        <h1>PROPERTY PROFILE</h1>
    </div>

    <section>
        <div class="container-gallery">
            <div class="large-image">
                <img src="../../../assets/img/home_demo_2.png" />
                <div class="caption">
                    <h5>{{mProperty.address.street}}</h5>
                    <h6>{{mProperty.address.city}}, {{mProperty.address.state}} {{mProperty.address.zip_code}}</h6>
                </div>
            </div>
            <div class="small-image-column">
                <img src="../../../assets/img/home_demo_3.png" />
                <img src="../../../assets/img/home_demo_2.png" />
                <img src="../../../assets/img/home_demo_1.png" />
            </div>
        </div>
        <div class="container-data-column">
            <div class="data-row">
                <img src="../../../assets/img/ic_money.png" />
                <div class="data-row-column">
                    <h3>Highest Bid</h3>
                    <h4>${{highestBid}}</h4>
                </div>
            </div>
            <div class="data-row">
                <img src="../../../assets/img/ic_hash.png" />
                <div class="data-row-column">
                    <h3>Bidders</h3>
                    <h4>{{bidders}}</h4>
                </div>
            </div>
            <div class="data-row">
                <img src="../../../assets/img/total_living_area.png" />
                <div class="data-row-column">
                    <h3>Living Area</h3>
                    <h4>{{mProperty.living_square_feet}}</h4>
                </div>
            </div>
            <div class="data-row">
                <img src="../../../assets/img/lot_size.png" />
                <div class="data-row-column">
                    <h3>Lot Size</h3>
                    <h4>{{mProperty.lot_size}}</h4>
                </div>
            </div>
            <div class="data-row">
                <img src="../../../assets/img/Bedrooms.png" />
                <div class="data-row-column">
                    <h3>Bedrooms</h3>
                    <h4>{{mProperty.beds}}</h4>
                </div>
            </div>
            <div class="data-row">
                <img src="../../../assets/img/bathroom.png" />
                <div class="data-row-column">
                    <h3>Bathrooms</h3>
                    <h4>{{mProperty.baths}}</h4>
                </div>
            </div>
        </div>
        <div class="container-data-column">
            <div class="data-row">
                <img src="../../../assets/img/year_built.png" />
                <div class="data-row-column">
                    <h3>Year Built</h3>
                    <h4>{{mProperty.year}}</h4>
                </div>
            </div>
            <div class="data-row">
                <img src="../../../assets/img/Garage.png" />
                <div class="data-row-column">
                    <h3>Garage</h3>
                    <h4>{{mProperty.garage}}</h4>
                </div>
            </div>
            <div class="data-row">
                <img src="../../../assets/img/Basement.png" />
                <div class="data-row-column">
                    <h3>Basement</h3>
                    <h4 *ngIf="mProperty == null || mProperty.basement == null || mProperty.basement == false">No</h4>
                    <h4 *ngIf="mProperty.basement == true">Yes</h4>
                </div>
            </div>
            <div class="data-row">
                <img src="../../../assets/img/hot_tub.png" />
                <div class="data-row-column">
                    <h3>Hot Tub</h3>
                    <h4 *ngIf="mProperty == null || mProperty.hot_tub == null || mProperty.hot_tub == false">No</h4>
                    <h4 *ngIf="mProperty.hot_tub == true">Yes</h4>
                </div>
            </div>
            <div class="data-row">
                <img src="../../../assets/img/Pool.png" />
                <div class="data-row-column">
                    <h3>Pool</h3>
                    <h4 *ngIf="mProperty == null || mProperty.pool == null || mProperty.pool == false">No</h4>
                    <h4 *ngIf="mProperty.pool && mProperty.pool == true">Yes</h4>
                </div>
            </div>
            <div class="data-row">
                <img src="../../../assets/img/Cooling.png" />
                <div class="data-row-column">
                    <h3>Cooling</h3>
                    <h4>{{mProperty.cooling}}</h4>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="btn-container">
            <button  (click)="openDialog('Kuldasac','Paul Cloward',
            'PaulClowardcs12@gmail.com', '+18019718548',
            100000)">Make Offer</button>
        </div>

        <div class="container-countdown">
            <h3>CLOSING COUNTDOWN</h3>
            <div class="circle-container">
                <div class="column">
                    <div class="circle">
                        {{countDownDay}}
                    </div>
                    <label>Days</label>
                </div>
                <div class="column">
                    <div class="circle">
                        {{countDownHour}}
                    </div>
                    <label>Hours</label>
                </div>
                <div class="column">
                    <div class="circle">
                        {{countDownMinute}}
                    </div>
                    <label>Minutes</label>
                </div>
                <div class="column">
                    <div class="circle">
                        {{countDownSecond}}
                    </div>
                    <label>Seconds</label>
                </div>
            </div>
        </div>
        <div class="container-countdown">
            <h3>LISTED ON KULDASAC FOR</h3>
            <div class="circle-container">
                <div class="column">
                    <div class="circle">
                        23
                    </div>
                    <label>Days</label>
                </div>
                <div class="column">
                    <div class="circle">
                        23
                    </div>
                    <label>Hours</label>
                </div>
                <div class="column">
                    <div class="circle">
                        23
                    </div>
                    <label>Minutes</label>
                </div>
                <div class="column">
                    <div class="circle">
                        23
                    </div>
                    <label>Seconds</label>
                </div>
            </div>
        </div>
    </footer>
    

    <app-footer></app-footer>
</div>