<div class="row">
    	<div class="col-6 offset-3">
    		<div class="offer-container">
    			<div class="row">
    				<div class="col-3 d-flex flex-column align-items-start">
			            <img src="../../../assets/img/avatar.png" class="offer-profile-img" />
    				</div>
    				<div class="col-9 offer-properties-container">
    					<div class="row">
    						<div class="offer-amount">
    							{{price}}
    						</div>
    					</div>
    					<div class="row">
    						<div class="buyer-type">
    							CashBuyer LLC. | Title Company
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-12 star-rating-row">
	    						<i class="material-icons star-rating-good">star_rate</i>
	    						<i class="material-icons star-rating-good">star_rate</i>
	    						<i class="material-icons star-rating-good">star_rate</i>
	    						<i class="material-icons star-rating-bad">star_rate</i>
	    						<i class="material-icons star-rating-bad">star_rate</i>
		    				</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>