<mat-sidenav-container class="sidenav-container">

    <!-- SIDENAV -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a class="side-nav-item" mat-list-item routerLink="/directory" (click)="drawer.close()">Directory</a>
        <a  class="side-nav-item" mat-list-item routerLink="/why-us" (click)="drawer.close()">Why Us</a>
        <a  class="side-nav-item" mat-list-item routerLink="/contact" (click)="drawer.close()">Contact</a>
        <a *ngIf="!(mAuth.authState | async)" class="side-nav-item" mat-list-item routerLink="/login" (click)="drawer.close()">Sign In</a>
        <a *ngIf="!(mAuth.authState | async)" class="side-nav-item" mat-list-item (click)="drawer.close()">Sign Out</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
  
    <!-- TOP TOOLBAR-->
  
      <mat-toolbar class="container-navbar">
        <!-- <button 
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
  
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button> -->
        <img class="logo" routerLink="/home" src="../../../assets/img/home_slack_logo.png" />
  
        <span class="fill-space"></span>
        <div *ngIf="!(isHandset$ | async)" class="container-toolbar-items" style="height: 100%; display: flex; flex-direction: row; padding-right: 4em;">
          <div mat-button  [ngClass]="{'nav-link': true, 'nav-link-selected' : isNavDirectory()}" routerLink="/directory">Directory</div>
          <div [ngClass]="{'nav-link': true, 'nav-link-selected': isNavWhyUs()}" mat-button routerLink="/why-us">Why Us</div>
          <div [ngClass]="{'nav-link': true, 'nav-link-selected': isNavContact()}" mat-button routerLink="/contact">Contact</div>
          <div *ngIf="!(mAuth.authState | async)" [ngClass]="{'nav-link': true, 'nav-link-selected': isNavLogin()}" mat-button routerLink="/login">Sign In</div>
          <div *ngIf="mAuth.authState | async" [ngClass]="{'nav-link': true}" (click)="onSignOut()">Sign Out</div>
        </div>
  
        <!-- DROPDOWN MENU -->
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="https://fireship.page.link/slack">
            <i>💬</i>
            <span>Chat on Slack</span>
          </a>
        </mat-menu>-->

        <button 
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()" 
            class="container-icon-menu"
            *ngIf="isHandset$ | async"
            style="background-color: white !important;">
            <span [ngClass]="{'material-icons':true, 'ic-menu-blue': true}">
                menu
            </span>  
        </button>
      </mat-toolbar> 
  
      <!-- TRANSCLUSION -->
      <ng-content></ng-content>
  
    </mat-sidenav-content>
  </mat-sidenav-container>