<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/banner_create_account.png" class="img-under-nav"/>
        
            <div class="container-image-and-title">
            <div class="profile-image-container rounded-circle">
              <img src="../../../assets/img/avatar.png" class="profile-image"/>
            </div>
            <div class="top-header-title">
              <span class="top-header-title-bold" *ngIf="mSeller != null">{{mSeller.first_name}}&nbsp;</span> 
              <span class="top-header-title-light" *ngIf="mSeller != null">{{mSeller.last_name}}</span>
            </div>
          </div>
 
      </div>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top: 4em;">
        <div class="col-8 offset-2"> 
            <app-image-slider [images]="mImageList"></app-image-slider>
        </div>
    </div>
  <div class="row house-row">
    <div class="col-10 offset-2"> 
        

        <!-- <div class="row house-image-container">
            <div class="col-7 main-property-column">
                <img  class="img-fluid" src="../../../assets/img/property1.1.jpg"/>
            </div>
            <div class="col-3">
                <img  class="img-fluid property-right" src="../../../assets/img/property1.2.jpg"/>
                <img  class="img-fluid property-right" src="../../../assets/img/property1.3.jpg"/>
                <img  class="img-fluid property-right property-more" src="../../../assets/img/property1.4.jpg"/>
            </div>
        </div> -->

    	<div class="row"> 
    		<div class="col-5">
    			<div  *ngIf="mSellerPropertyDetails" class="street-address">
    				{{mSellerPropertyDetails.address.street}}
    			</div>
    			<div  *ngIf="mSellerPropertyDetails" class="city-state-address">
    				{{mSellerPropertyDetails.address.city}},&nbsp;{{mSellerPropertyDetails.address.state}}&nbsp; {{mSellerPropertyDetails.address.zip_code}}
    			</div>
    			<div class="edit-property">
    				Click to edit property
    			</div>
    		</div>
    		<div class="col-7 investor-container">
    			<div class="investor-stat-row">
    				<span class="stat-count stat-count-blue">2</span> Investor(s) have reviewed your property.
    			</div>
    			<div class="investor-stat-row">
    				<span class="stat-count stat-count-blue">1</span> Offer(s) have been made for your property. 
    			</div>
    			<div class="investor-stat-row">
    				<span class="stat-count stat-count-red">5</span> Investors have requested more photos.
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>
<div class="row" style="background-color: #fafafa">
    <div class="col-6 offset-2 information-title" >
        Property Details:
    </div>
</div>
<div class="row" style="padding: 1em 0em 10em 0em; background-color: #fafafa">
        <div class="col-6 offset-2">
            <div class="row property-details-top-row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 icon-container d-flex justify-content-center"><img src="../../../assets/img/total_living_area.png" class="icon-label align-self-center img-fluid"/></div>
                        <div class="col-10">
                           <div class="label-property">
                                Total Living Area
                            </div>
                            <div class="label-property-result" *ngIf="mSellerPropertyDetails">
                                {{mSellerPropertyDetails?.living_square_feet}} Square Feet
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 icon-container d-flex justify-content-center"><img src="../../../assets/img/year_built.png" class="icon-label align-self-center img-fluid"/></div>
                        <div class="col-10">
                            <div class="label-property">
                                Year Build 
                            </div>
                            <div class="label-property-result"  *ngIf="mSellerPropertyDetails">
                                {{mSellerPropertyDetails?.year}}
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 icon-container d-flex justify-content-center"><img src="../../../assets/img/lot_size.png" class="icon-label align-self-center img-fluid"/></div>
                        <div class="col-10">
                            <div class="label-property">
                                Lot Size
                            </div>
                            <div class="label-property-result"  *ngIf="mSellerPropertyDetails">
                                {{mSellerPropertyDetails?.lot_size}}&nbsp;Square Feet
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Second Row-->
            <div class="row mt-4">
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 icon-container d-flex justify-content-center"><img src="../../../assets/img/Bedrooms.png" class="icon-label align-self-center img-fluid"/></div>
                        <div class="col-10">
                            <div class="label-property">
                                Bedrooms 
                            </div>
                            <div class="label-property-result"  *ngIf="mSellerPropertyDetails">{{mSellerPropertyDetails?.beds}}</div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 icon-container d-flex justify-content-center"><img src="../../../assets/img/bathroom.png" class="icon-label align-self-center img-fluid"/></div>
                        <div class="col-10">
                        <div class="label-property">
                            Bathrooms 
                        </div>
                        <div class="label-property-result"  *ngIf="mSellerPropertyDetails">{{mSellerPropertyDetails?.baths}}</div>
                       
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 icon-container d-flex justify-content-center"><img src="../../../assets/img/Basement.png" class="icon-label align-self-center img-fluid"/></div>
                        <div class="col-10">
                            <div class="label-property">
                                Basement 
                            </div>
                            <div *ngIf="mSellerPropertyDetails?.basement == false" class="label-property-result">
                                None
                            </div>
                            <div *ngIf="mSellerPropertyDetails?.basement == true" class="label-property-result">
                                Yes
                            </div>
                            <div *ngIf="mSellerPropertyDetails?.basement_completed" class="label-property-result">
                                {{mSellerPropertyDetails.basement_completed}}%&nbsp;Finished
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Third Row-->
            <div class="row mt-4">
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 icon-container d-flex justify-content-center"><img src="../../../assets/img/Garage.png" class="icon-label align-self-center img-fluid"/></div>
                        <div class="col-10">
                            <div class="label-property">
                                Garage 
                            </div>
                            <div class="label-property-result" *ngIf="mSellerPropertyDetails">
                                {{mSellerPropertyDetails.garage}} Car
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 icon-container d-flex justify-content-center"><img src="../../../assets/img/Pool.png" class="icon-label align-self-center img-fluid"/></div>
                        <div class="col-10">
                            <div class="label-property">
                                Pool 
                            </div>
                            <div  *ngIf="mSellerPropertyDetails && mSellerPropertyDetails.pool == true" class="label-property-result">Yes</div>
                            <div *ngIf="mSellerPropertyDetails && mSellerPropertyDetails.pool == false" class="label-property-result">No</div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 icon-container d-flex justify-content-center"><img src="../../../assets/img/hot_tub.png" class="icon-label align-self-center img-fluid"/></div>
                        <div class="col-10">
                            <div class="label-property">
                                Hot Tub 
                            </div>
                            <div *ngIf="mSellerPropertyDetails && mSellerPropertyDetails.hot_tub == true" class="label-property-result">Yes</div>
                            <div *ngIf="mSellerPropertyDetails && mSellerPropertyDetails.hot_tub == false" class="label-property-result">No</div>
                            
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            
            <!--Fourth Row-->
            <div class="row mt-4 property-details-bottom-row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 icon-container d-flex justify-content-center"><img src="../../../assets/img/Cooling.png" class="icon-label align-self-center img-fluid"/></div>
                        <div class="col-10">
                            <div class="label-property">
                                Cooling 
                            </div>
                            <div *ngIf="mSellerPropertyDetails" class="label-property-result">
                                {{mSellerPropertyDetails.cooling}}
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="col-4">
                   
                </div>
                <div class="col-4">
                   
                </div>
            </div>
        </div>
        <div class="col-3">

          <div class="row">
            <div class="col-12">
              <div class="countdown-container">
                  <div class="row">
                    <div class="countdown-label select-offer">SELECT OFFER</div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8 offset-2" >
                                <div class="row">
                                    <div class="col-3 circle-column">
                                        <div class="countdown-circle-red d-flex align-items-center justify-content-center">
                                            <span class="countdown-circle-number">56</span>
                                        </div>
                                        <div class="countdown-time-label">Days</div>
                                    </div>
                                    <div class="col-3 circle-column">
                                        <div class="countdown-circle-red d-flex align-items-center justify-content-center">
                                             <span class="countdown-circle-number">45</span>
                                        </div>
                                        <div class="countdown-time-label">Hours</div>
                                    </div>
                                    <div class="col-3 circle-column">
                                         <div class="countdown-circle-red d-flex align-items-center justify-content-center">
                                             <span class="countdown-circle-number">16</span>
                                        </div>
                                        <div class="countdown-time-label">Minutes</div>
                                    </div>
                                    <div class="col-3 circle-column">
                                         <div class="countdown-circle-red d-flex align-items-center justify-content-center">
                                             <span class="countdown-circle-number">34</span>
                                        </div>
                                        <div class="countdown-time-label">Seconds</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <div class="countdown-container">
                  <div class="row" style="padding-bottom: 1em;">
                    <div class="countdown-label">CLOSING COUNTDOWN</div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8 offset-2" >
                                <div class="row">
                                    <div class="col-3 circle-column">
                                        <div class="countdown-circle-blue d-flex align-items-center justify-content-center">
                                            <span class="countdown-circle-number">56</span>
                                        </div>
                                        <div class="countdown-time-label">Days</div>
                                    </div>
                                    <div class="col-3 circle-column">
                                        <div class="countdown-circle-blue d-flex align-items-center justify-content-center">
                                             <span class="countdown-circle-number">45</span>
                                        </div>
                                        <div class="countdown-time-label">Hours</div>
                                    </div>
                                    <div class="col-3 circle-column">
                                         <div class="countdown-circle-blue d-flex align-items-center justify-content-center">
                                             <span class="countdown-circle-number">16</span>
                                        </div>
                                        <div class="countdown-time-label">Minutes</div>
                                    </div>
                                    <div class="col-3 circle-column">
                                         <div class="countdown-circle-blue d-flex align-items-center justify-content-center">
                                             <span class="countdown-circle-number">34</span>
                                        </div>
                                        <div class="countdown-time-label">Seconds</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-10 offset-1">
                        <div class="line-divider"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="countdown-label">LISTED ON Kuldasac FOR</div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8 offset-2" >
                                <div class="row">
                                    <div class="col-3 circle-column">
                                        <div class="countdown-circle-blue d-flex align-items-center justify-content-center">
                                            <span class="countdown-circle-number">56</span>
                                        </div>
                                        <div class="countdown-time-label">Days</div>
                                    </div>
                                    <div class="col-3 circle-column">
                                        <div class="countdown-circle-blue d-flex align-items-center justify-content-center">
                                             <span class="countdown-circle-number">45</span>
                                        </div>
                                        <div class="countdown-time-label">Hours</div>
                                    </div>
                                    <div class="col-3 circle-column">
                                         <div class="countdown-circle-blue d-flex align-items-center justify-content-center">
                                             <span class="countdown-circle-number">16</span>
                                        </div>
                                        <div class="countdown-time-label">Minutes</div>
                                    </div>
                                    <div class="col-3 circle-column">
                                         <div class="countdown-circle-blue d-flex align-items-center justify-content-center">
                                             <span class="countdown-circle-number">34</span>
                                        </div>
                                        <div class="countdown-time-label">Seconds</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
<app-footer></app-footer>