
<div class="popup-container">
    <h3 [hidden]="success">Home Bid</h3>
    <h3 [hidden]="!success">ReviewBid</h3>
    <div class="line-divider"></div>
  
      <form class="form-container" [formGroup]="mFormBid" [hidden]="success" (ngSubmit)="onPlaceBid()">
        
        <div>
          <input [formControl]="companyName" matInput type="text" placeholder="Company name (entity)..." />
          <mat-error *ngIf="companyName.invalid && companyName.touched">company name is required</mat-error>
        </div>
    
        <div>
            <input [formControl]="contactName" matInput type="text" placeholder="Contact name (first, last)..." />
            <mat-error *ngIf="contactName.invalid && contactName.touched">contact name is required</mat-error>
        </div>
    
        <div>
            <input [formControl]="phone" matInput type="text"  placeholder="Phone..." NumberOnly/>
            <mat-error style="margin-top: 0 !important" *ngIf="phone.invalid && phone.touched">a valid phone number is required</mat-error>
        </div>
    
        <div>
            <input [formControl]="email" type="text" matInput placeholder="Email..." />
            <mat-error *ngIf="email.invalid && email.touched">a valid email is required</mat-error>
        </div>
    
        <div>
            <input [formControl]="bid" placeholder="Bid price..." type="text" matInput NumberOnly/>
            <label *ngIf="bid.invalid && bid.touched">a bid is required</label>
        </div>
    
    
     
          <button >Place bid</button>
       
        
         
    
    </form>
  
 </div>

 <br><br>
 <br><br>
 <br><br>