<div class="row">
    <div class="col-12 bottom-page-container" [ngStyle]="{'background-color': backgroundColor, 'padding-bottom': '3em'}">
        <div class="container-fluid">
            <div class="row">
                <img src="../../../assets/img/home_slack_icon.png" class="img-fluid img-logo" /> 
            </div>
            </div>
            <div class="container-fluid">
            <div class="row">
                <div class="col-12 address">
                Homeslackteam@gmail.com<br>
                Copyright 2019 Homeslack 292 Galena Park Blvd, Draper, UT 84020
                </div>
            </div>
        </div>
    </div>
</div>