<div class="container-footer" [ngStyle]="{'background-color': backgroundColor}">
    <img src="../../../assets/img/logo_kuldasac_white.png" class="img-logo" />
    <div class="end-column-container">
       <div class="column">
            <div class="column-header">INFORMATION</div>
            <div class="column-item">PLACEHOLDER</div>
            <div class="column-item">PLACEHOLDER</div>
            <div class="column-item">PLACEHOLDER</div>
       </div>
       <div class="column">
            <div class="column-header">ABOUT</div>
            <div class="column-item">PLACEHOLDER</div>
       
        </div>
        <div class="column">
            <div class="column-header">CONTACT</div>
            <div class="column-item">PLACEHOLDER</div>
            <div class="column-item">PLACEHOLDER</div>
        </div>
    </div>
</div>
