<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/img_banners/1.jpg" class="img-under-nav"/>
        <div class="row">
          <div class="col-12 top-header-title-container">
            <div class="top-header-title"><span class="top-header-title-bold">PROPERTY </span> <span class="top-header-title-light">DETAILS</span></div>
          </div>
          <div class="row top-header-time-frame-icons-container d-none d-sm-block">
            <div class="col-8 offset-2">
            <div class="row">
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon nav-circle-icon" matTooltipPosition="above" matTooltip="Need search to for your home again? Click to go back and search again" [routerLink]="['../home']" src="../../../assets/img/ic_time_frame_magnify_blue.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" matTooltipPosition="above" matTooltip="Lets fill out your home information below" src="../../../assets/img/ic_time_frame_question_blue.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_time_grey.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_camera_grey.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_check_mark_grey.png" />
                </div>
                </div>
            </div>
          </div>

          <div class="row top-header-time-frame-icons-container d-flex d-sm-none">
              <div class="col-10 offset-1">
                <div class="row">
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon"  matTooltipPosition="above" matTooltip="Need to search for your home again? Click to go back and search again"  src="../../../assets/img/ic_time_frame_magnify_blue.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" matTooltipPosition="above" matTooltip="Lets fill out your home information below" src="../../../assets/img/ic_time_frame_question_blue.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_time_grey.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_camera_grey.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_check_mark_grey.png" />
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row d-none d-sm-block" style="margin-top: 5em">
        <div class="col-12">
            <div class="fill-in-page-title">
                Let's Fill Out Your <span class="company-color">Home Information!</span>
            </div>
        </div>
    </div>
    <div class="row d-block d-sm-none" style="margin-top: 2em">
        <div class="col-12">
            <div class="fill-in-page-title">
                Let's Fill Out Your <span class="company-color">Home Information!</span>
            </div>
        </div>
    </div>
    <div class="row d-none d-sm-block">
        <div class="col-8 offset-2">
            <form class="custom-form" [formGroup]="mFormAddressFields">
                <div class="row">
                    <div class="col-7">
                        <div class="label-property">
                            Street Address
                        </div>
                        <input [ngStyle]="{'border': (streetAddress.invalid && streetAddress.touched) ? '.5px solid red' : '.5px solid gray'}" class="input-edit-property" type="text" formControlName="streetAddress" maxlength="100" />
                        <div class="error-hint" *ngIf="streetAddress.invalid && streetAddress.touched">
                            Your address does not look right
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="label-property">Unit #</div>
                        <input class="input-edit-property" type="number" pattern="\d*" maxlength="5" formControlName="unitNumber"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="label-property">City</div>
                        <input [ngStyle]="{'border': (city.invalid && city.touched) ? '.5px solid red' : '.5px solid gray'}" class="input-edit-property" type="text" maxlength="40" formControlName="city" />
                        <div class="error-hint" *ngIf="city.invalid && city.touched">
                            Please enter a valid city
                        </div>
                    </div>
                    <div class="col">
                        <div class="label-property">State</div>
                        <input [ngStyle]="{'border': (state.invalid && state.touched) ? '.5px solid red' : '.5px solid gray'}" class="input-edit-property" type="text" maxlength="12" formControlName="state" />
                        <div class="error-hint" *ngIf="state.invalid && state.touched">
                            Please enter a valid state
                        </div>
                    </div>
                    <div class="col">
                        <div class="label-property">Zip Code</div>
                        <input [ngStyle]="{'border': (zipCode.invalid && zipCode.touched) ? '.5px solid red' : '.5px solid gray'}" class="input-edit-property" type="number" maxlength="6"  formControlName="zipCode" />
                        <div class="error-hint" *ngIf="zipCode.invalid && zipCode.touched">
                            Please enter a valid zip code
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row d-block d-sm-none">
        <div class="col-10 offset-1">
            <form class="custom-form" [formGroup]="mFormAddressFields">
                <div class="row">
                    <div class="col-7">
                        <div class="label-property">
                            Street Address
                        </div>
                        <input class="input-edit-property" type="text" maxlength="100" formControlName="streetAddress" />
                        <div class="error-hint" *ngIf="streetAddress.invalid && streetAddress.touched">
                            Your address does not look right
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="label-property">Unit #</div>
                        <input class="input-edit-property" type="number" maxlength="4" formControlName="unitNumber" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="label-property">City</div>
                        <input class="input-edit-property" type="text" maxlength="40" formControlName="city" />
                        <div class="error-hint" *ngIf="city.invalid && city.touched">
                            Please enter a valid city
                        </div>
                    </div>
                    <div class="col">
                        <div class="label-property">State</div>
                        <input class="input-edit-property" type="text" maxlength="10" formControlName="state" />
                        <div class="error-hint" *ngIf="state.invalid && state.touched">
                            Please enter a valid state
                        </div>
                    </div>
                </div>            
                <div class="row">
                    <div class="col">
                        <div class="label-property">Zip Code</div>
                        <input class="input-edit-property" type="number" maxlength="6" formControlName="zipCode" />
                        <div class="error-hint" *ngIf="zipCode.invalid && zipCode.touched">
                            Please enter a valid zip code
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-10 offset-1 information-title">
            Property Details:
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1"  style="border-top: 1px solid #7E7E7E; padding-top: 1em">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                                
                            <img src="../../../assets/img/total_living_area.png" class="icon-label img-fluid"  placement="top"  matTooltip="{{totalLivingAreaHint}}"/>
                        </div>
                        <div class="col-9">
                           <div class="label-property">
                                Total Living Area
                            </div>
                            <div class="label-hint">Livable Sqft # in Home?</div>
                            <input class="input-edit-property" type="number" placeholder="Liveable Sqft #" [(ngModel)]="sellerProperty.living_square_feet" maxlength="6" />
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/year_built.png" class="icon-label img-fluid" placement="top"  matTooltip="{{yearBuildHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property">
                                Year Build 
                            </div>
                            <div class="label-hint">Year the House was Built?</div>
                            <input class="input-edit-property" [(ngModel)]="sellerProperty.year" type="text" placeholder="year" maxlength="4"/>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/lot_size.png" class="icon-label img-fluid" placement="top"  matTooltip="{{lotSizeHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property">
                                Lot Size
                            </div>
                            <div class="label-hint">Total Size of Lot in Sqft or Acres</div>
                            <input *ngIf="sellerProperty.lot_size_unit == 'sqft'" class="input-edit-property" [(ngModel)]="sellerProperty.lot_size" type="number" placeholder="lot size # sqft" maxlength="6"/>
                            <input *ngIf="sellerProperty.lot_size_unit == 'acres'" class="input-edit-property" [(ngModel)]="sellerProperty.lot_size" type="number" placeholder="lot size # acres"  maxlength="6"/>
                            <div class="row" style="margin-top: 1em; margin-left: .2em">
                                <div (click)="sellerProperty.lot_size_unit = 'sqft'" class="col-3 label-property-result btn-result"
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.lot_size_unit == 'sqft'}">
                                    Sqft
                                </div>
                                <div (click)="sellerProperty.lot_size_unit = 'acres'" class="col-3 label-property-result btn-result" 
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.lot_size_unit == 'acres'}">
                                    Acres
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Second Row-->
            <div class="row mt-4 d-none d-md-flex">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/Bedrooms.png" class="icon-label img-fluid" placement="top"  matTooltip="{{bedroomsHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property">
                                Bedrooms
                            </div>
                            <div class="label-hint">Finished Bedrooms in Home?</div>
                            <div class="dropdown">
                        <button [hidden]="sellerProperty.beds != null" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -1em;">
                            # of beds
                        </button>
                          <button [hidden]="sellerProperty.beds == null" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -1em;">
                             {{sellerProperty.beds}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonBedroom">
                            <a class="dropdown-item" (click)="sellerProperty.beds = 1">1</a>
                            <a class="dropdown-item" (click)="sellerProperty.beds = 2">2</a>
                            <a class="dropdown-item" (click)="sellerProperty.beds = 3">3</a>
                            <a class="dropdown-item" (click)="sellerProperty.beds = 4">4</a>
                            <a class="dropdown-item" (click)="sellerProperty.beds = 5">5</a>
                            <a class="dropdown-item" (click)="sellerProperty.beds = 6">6</a>
                            <a class="dropdown-item" (click)="sellerProperty.beds = 7">7</a>
                            <a class="dropdown-item" (click)="sellerProperty.beds = 8">8</a>
                            <a class="dropdown-item" (click)="sellerProperty.beds = 9">9</a>
                            <a class="dropdown-item" (click)="sellerProperty.beds = 10">10</a>
                            <!-- <a class="dropdown-item" (click)="otherBeds = true">Other</a> -->
                          </div>
                        
                        </div>
                        <div class="row" *ngIf="otherBeds == true">
                            <div class="col-12">
                               <input  class="input-edit-property" [(ngModel)]="sellerProperty.beds" placeholder="# of Bedrooms..." type="number" maxlength="3"/> 
                           </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center"><img src="../../../assets/img/bathroom.png" class="icon-label img-fluid" placement="top"  matTooltip="{{bathroomsHint}}"/></div>
                        <div class="col-9">
                        <div class="label-property">
                            Bathrooms
                        </div>
                        <div class="label-hint">Finished Bathrooms in Home?</div>
                        <div class="dropdown">
                          <button [hidden]="sellerProperty.baths != null" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -1em;">
                                # of baths
                          </button>
                          <button [hidden]="sellerProperty.baths == null" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -1em;">
                            {{sellerProperty.baths}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonBathroom">
                            <a class="dropdown-item" (click)="onSelectBathCount(1)">1</a>
                            <a class="dropdown-item" (click)="onSelectBathCount(1.5)">1.5</a>
                            <a class="dropdown-item" (click)="onSelectBathCount(1.75)">1.75</a>
                            <a class="dropdown-item" (click)="onSelectBathCount(3)">2</a>
                            <a class="dropdown-item" (click)="onSelectBathCount(2.5)">2.5</a>
                            <a class="dropdown-item" (click)="onSelectBathCount(2.75)">2.75</a>
                            <a class="dropdown-item" (click)="onSelectBathCount(3)">3</a>
                            <a class="dropdown-item" (click)="onSelectBathCount(3.5)">3.5</a>
                            <a class="dropdown-item" (click)="onSelectBathCount(3.75)">3.75</a>
                            <a class="dropdown-item" (click)="onSelectBathCount(4)">4</a>
                            <a class="dropdown-item" (click)="onSelectBathCount(-1)">Other</a>
                          </div>
                        </div>
                        <input *ngIf="otherBathCount == true" class="input-edit-property" [(ngModel)]="sellerProperty.baths" placeholder="# of Bathrooms..." type="text" maxlength="2"/> 
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/Basement.png" class="icon-label img-fluid" placement="top"  matTooltip="{{basementHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property">
                                Basement
                            </div>
                            <div class="label-hint">Existing Basement?</div>
                            <div class="row mt-2 btn-row-margin-left">
                                <div (click)="onBasementExisting(false)" class="col-3 label-property-result btn-result"
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.basement == false}">
                                    No
                                </div>
                                <div (click)="onBasementExisting(true)" class="col-3 label-property-result btn-result" 
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.basement == true}">
                                    Yes
                                </div>
                                <div class="label-hint" style="margin-top: .5em;" *ngIf="sellerProperty.basement == true">Percentage Finished?</div>
                                <div class="dropdown" *ngIf="sellerProperty.basement == true">
                                
                                  <button class="btn dropdown-toggle"  style="margin-top: .3em; text-align: left;" type="button" id="dropdownMenuButtonBasement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{sellerProperty.basement_completed | percent}}
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonBasement">
                                    <a class="dropdown-item" (click)="sellerProperty.basement_completed = .1">10%</a>
                                    <a class="dropdown-item" (click)="sellerProperty.basement_completed = .25">25%</a>
                                    <a class="dropdown-item" (click)="sellerProperty.basement_completed = .5">50%</a>
                                    <a class="dropdown-item" (click)="sellerProperty.basement_completed = .75">75%</a>
                                    <a class="dropdown-item" (click)="sellerProperty.basement_completed = .9">90%</a>
                                    <a class="dropdown-item" (click)="sellerProperty.basement_completed = 1">100%</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Third Row-->
            <div class="row mt-4 d-none d-md-flex">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/Garage.png" class="icon-label img-fluid" placement="top"  matTooltip="{{garageHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property">
                                Garage
                            </div>
                            <div class="label-hint">
                                How big is the Garage?
                            </div>
                            <!-- <input class="input-edit-property" [(ngModel)]="home.carGarage" type="text"/> -->
                            <div class="dropdown">
                                <button [hidden]="sellerProperty.garage != null" class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonGarage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -1em;">
                                 garage size
                                </button>
                              <button [hidden]="sellerProperty.garage == null" class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonGarage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -1em;">
                                {{sellerProperty.garage}} Car
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonGarage">
                                <a class="dropdown-item" (click)="onSelectGarageSpots(1)">1 Car</a>
                                <a class="dropdown-item" (click)="onSelectGarageSpots(2)">2 Car</a>
                                <a class="dropdown-item" (click)="onSelectGarageSpots(3)">3 Car</a>
                                <a class="dropdown-item" (click)="onSelectGarageSpots(4)">4 Car</a>
                                <a class="dropdown-item" (click)="onSelectGarageSpots(-1)">Other</a>
                                </div>
                            </div>
                            <input *ngIf="otherGarage == true" class="input-edit-property" [(ngModel)]="sellerProperty.garage" placeholder="Garage Spots..." type="text" maxlength="2"/> 
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/Pool.png" class="icon-label img-fluid" placement="top"  matTooltip="{{poolHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property">
                                Pool 
                            </div>
                            <div class="label-hint">Does House have Pool?</div>
                           <div class="row mt-2 btn-row-margin-left">
                                <div (click)="sellerProperty.pool = false" class="col-3 label-property-result btn-result"
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.pool == false}">
                                    No
                                </div>
                                <div (click)="sellerProperty.pool = true" class="col-3 label-property-result btn-result" 
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.pool == true}">
                                    Yes
                                </div>
                                <div *ngIf="sellerProperty.pool == true" style="width: 100%">
                                    <textarea class="input-edit-property" [(ngModel)]="sellerProperty.pool_description" placeholder="Describe Pool condition..." style="resize: none" type="text" maxlength="100"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/hot_tub.png" class="icon-label img-fluid" placement="top"  matTooltip="{{hotTubHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property">
                                Hot Tub
                            </div>
                           <div class="label-hint">In-Ground Hot Tub?</div>
                            <div class="row mt-2 btn-row-margin-left">
                                <div (click)="sellerProperty.hot_tub = false" class="col-3 label-property-result btn-result"
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.hot_tub == false}">
                                    No
                                </div>
                                <div (click)="sellerProperty.hot_tub = true" class="col-3 label-property-result btn-result" 
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.hot_tub == true}">
                                    Yes
                                </div>
                                <div *ngIf="sellerProperty.hot_tub == true" style="width: 100%">
                                    <textarea class="input-edit-property" [(ngModel)]="sellerProperty.hot_tub_description" placeholder="Describe Hot Tub condition..." style="resize: none" type="text" maxlength="100"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
             
            <!--Fourth Row-->
            <div class="row mt-4 d-none d-md-flex">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/Cooling.png" class="icon-label img-fluid" placement="top"  matTooltip="{{coolingHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property">
                                Cooling
                            </div>
                            <div class="label-hint">Home Cooling System Type?</div>
                            <div class="dropdown">
                                <button [hidden]="sellerProperty.cooling_type != null" class="btn dropdown-toggle"  style="margin-top: .3em; margin-left: -1em;" type="button" id="dropdownMenuButtonCooling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    cooling type
                                  </button>
                              <button [hidden]="sellerProperty.cooling_type == null"class="btn dropdown-toggle"  style="margin-top: .3em; margin-left: -1em;" type="button" id="dropdownMenuButtonCooling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{sellerProperty.cooling_type}}
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonCooling">
                                <a class="dropdown-item" (click)="sellerProperty.cooling_type = 'Central HVAC'">Central HVAC</a>
                                <a class="dropdown-item" (click)="sellerProperty.cooling_type = 'Furnace & Swamp Cooler'">Furnace & Swamp Cooler</a>
                                <a class="dropdown-item" (click)="sellerProperty.cooling_type = 'Swamp Cooler Only'">Swamp Cooler Only</a>
                                <a class="dropdown-item" (click)="sellerProperty.cooling_type = 'Window Unit(s)'">Window Unit(s)</a>
                                <a class="dropdown-item" (click)="sellerProperty.cooling_type = 'Furnace Only'">Furnace Only</a>
                                <a class="dropdown-item" (click)="sellerProperty.cooling_type = 'None'">None</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-top: 1em; padding-top: 1em; border-top: 1px solid #7E7E7E">
                <div class="col-12">
                    <div class="label-question">About How Old is the Roof<span class="question-mark">?</span></div>
                    <div class="dropdown">
                        <button  [hidden]="sellerProperty.roof_age_range != null" class="btn dropdown-toggle" style="width: 12em !important" type="button" id="dropdownMenuButtonRoof" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            roof age range
                          </button>
                      <button  [hidden]="sellerProperty.roof_age_range == null" class="btn dropdown-toggle" style="width: 12em !important" type="button" id="dropdownMenuButtonRoof" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{sellerProperty.roof_age_range}}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="sellerProperty.roof_age_range = '1 - 3 Years'">1 - 3 Years</a>
                        <a class="dropdown-item" (click)="sellerProperty.roof_age_range = '4 - 6 Years'">4 - 6 Years</a>
                        <a class="dropdown-item" (click)="sellerProperty.roof_age_range = '7 - 10 Years'">7 - 10 Years</a>
                        <a class="dropdown-item" (click)="sellerProperty.roof_age_range = '11 - 15 Years'">11 - 15 Years</a>
                        <a class="dropdown-item" (click)="sellerProperty.roof_age_range = '16+ Years'">16+ Years</a>
                      </div>
                    </div>
                </div>
            </div>
            
            <div class="row" >
                <div class="col-12">
                    <div class="label-question">Any HVAC, Plumbing, Electrical, or Roofing Issues we should know about<span class="question-mark">?</span></div>

                    <textarea class="input-edit-property" [(ngModel)]="sellerProperty.concerns_hvac_roofing_etc" placeholder="HVAC, Plumbing, Electrical, or Roofing Issues..." style="resize: none" type="text" maxlength="300"></textarea>
                </div>
            </div>
           
            
            <div class="row" style="padding-bottom: 1em">
                <div class="col-12">
                    <div class="label-question">Any other concerns you can tell us about<span class="question-mark">?</span></div>

                    <textarea class="input-edit-property" [(ngModel)]="sellerProperty.concerns_other" placeholder="Other concerns..." style="resize: none" type="text" maxlength="300"></textarea>
                </div>
            </div>
            
 
            <div *ngIf="!loggedIn" class="row" class="create-account-subtitle" style="padding-top: 1em; border-top: 1px solid #7E7E7E">
                Create a Homeface account to save your information and to start the process selling your home.
            </div>
            
            <div *ngIf="!loggedIn" class="row" style="margin-top: 1em;">
                <div class="col-12">
                    <div style="width: 100%;text-align: center;" *ngIf="mFormAddressFields.valid">
                        <button class="btn btn-create-account" (click)="onClickCreateAccount()">Create Account</button>
                    </div>
                    
        
                    <div style="width: 100%;text-align: center;" *ngIf="!mFormAddressFields.valid">
                        <div class="btn-container-disabled" matTooltipPosition="above" [matTooltip]="nextPageHint">
                            <button class="btn-create-account-default" disabled="true" >Create Account</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div *ngIf="loggedIn" class="row">
                <div class="col-12">
                    <div class="btn-container" *ngIf="mFormAddressFields.valid">
                        <button class="btn-next" (click)="onClickNext()"
                        >Next</button>
                    </div>
                    <div style="width: 100%;text-align: right;" *ngIf="!mFormAddressFields.valid">
                        <div class="btn-container-disabled" matTooltipPosition="above" [matTooltip]="nextPageHint">
                            <button class="btn-next-disabled" disabled="true" >Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" class="create-account-subtitle">
                Need help? Call: 888-888-9999 to reach our hotline with questions.
            </div>

        </div>
    </div>
    <br><br>
</div>
<app-footer></app-footer>