.tab-hidden{
	display: none;
}

.navbar {
    background-color: #FFF;
    padding: 0em 0em .3em 0em;
}

/*Takes off drowdown arrow*/
.dropdown-toggle::after {
    display:none;
}

.dropdown-toggle-parent {
    color:white !important;
    padding: 0 1em;
    font-size: .9em;
    font-family: Century Gothic, sans-serif;
    margin: 0 1em;
}

.dropdown-toggle:hover {
    color:rgb(68, 197, 242) !important;
}

/*Opens the dropdown menu hover*/
.dropdown:hover .dropdown-menu {
  display: block;
}

/*
    Dropdown children tabs, NOT parent tab
*/
.dropdown-menu {
  background-color: #4D4D4D;
  opacity: .9;
  padding: 0em;
  margin: 0em !important;  
  min-width: 100% !important;
  border-top: #4D4D4D;
}

/*<li> element of child nav*/
.dropdown-item{
  background-color: #4D4D4D;
  padding: 1em 1em;
  text-align: center;
  font-size: .9em;
  text-decoration: none;
  color: #e0e0e0;
  font-family: Century Gothic, sans-serif;
  font-weight: 600;
}

.child-link {
  color: #e0e0e0;
  cursor:pointer;
  padding-left: 1em !important;
  padding-right: 1em !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

/*<a> element of child nav :hover*/
.child-link:hover {
  color:rgb(68, 197, 242) !important;
  background-color: #4D4D4D;
  opacity: .9;
  text-decoration: none;
}



.nav-link{
    color: #4D4D4D !important;
    padding-top: 3em !important;
    padding-bottom: .5em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    font-family: Century Gothic, sans-serif;
    font-weight: 600;
    font-size: 1.1em;
}

.nav-link:hover {
    color:rgb(68, 197, 242) !important;
}

.nav-icon{
    font-size: 1.5em;
}

.profile-icon {
    max-width: 1.6em;
    cursor: pointer;
    margin: 0em 2em;
}

.nav-tab-selected{
  background-color: rgb(68, 197, 242);
  color:#FFF !important;
}

.nav-tab-selected:hover {
  text-decoration: none;
  color:rgb(68, 197, 242) !important;
  color: white !important;
}

.nav-profile-icon{
  width: 2.5em;
  margin: 0 auto;
}