<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand d-flex align-items-end" [routerLink]="['/home']"><img class="img-fluid" style="max-height: 2em; margin: 0em 0em .2em 1em;" src="../../../assets/img/home_slack_logo.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon d-flex"><i class="material-icons align-self-center" style="font-size:2em;color:white;">menu</i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item">
        <a [routerLink]="['./directory']" [ngClass]="{'nav-link':true, 'nav-tab-selected' : mRouter.url === '/directory'}">Directory</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['./why-us']" [ngClass]="{'nav-link':true, 'nav-tab-selected' : mRouter.url === '/why-us'}">Why Us</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['./contact']" [ngClass]="{'nav-link':true, 'nav-tab-selected' : mRouter.url === '/contact'}">Contact</a>
      </li>
      <li class="nav-item">
        <a  [routerLink]="['./login']" *ngIf="!isLoggedIn" [ngClass]="{'nav-link':true, 'nav-tab-selected' : mRouter.url === '/login'}">Sign In</a>
      </li>
      
      <li class="dropdown" *ngIf="isLoggedIn" style="text-align: center; margin-right: 2em; width: 8em">
          <a class="dropdown-toggle navbar-profile-icon-container" data-toggle="dropdown">
            <img src="../../../assets/img/avatar.png" class="profile-icon"/>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a class="child-link">My Profile</a></li>
            <li class="dropdown-item"><a class="child-link">Messages</a></li>
            <li class="dropdown-item"><a class="child-link">Add New Home</a></li>
            <li class="dropdown-item"><a class="child-link" (click)="logout()">Sign Out</a></li>
          </ul>
      </li>
      
      <li></li>
    </ul>
  </div>
</nav>