.question {
    border-radius: .5em;
    font-size: 1.2em;
    font-weight: bold;
    color: gray;
    padding: .5em 1em;
    margin-top: .5em;
}

.calendar {
	background-color: gray;
	color: #FFF;
	font-size: 4em;
	text-align: center;
	font-weight: bold;
	padding: .4em 0em; 
}

.btn-choose-file{
	background-color: rgb(68, 197, 242);
	color: white;
	outline: none;
	border-radius: .5em;
	border: none;
	font-size: 1.2em;
	padding: .75em 3em;
}

.money-input {
	padding: .5em 1em;
	border: .5px solid gray;
    border-radius: .5em;
}

.money-input::placeholder{
	color:lightgray;
	font-size: 1.5em;
    line-height: 1em;
    border: 1px solid red;
}

.datepicker-container{
    text-align: center;
}

.btn-container{
    width: 100%;
    text-align: end;
}

.btn-next{
    margin-top: 1em;
    color: white;
    background-color: rgb(68, 197, 242);
    border: none;
    border-radius: 1em;
    cursor: pointer;
    padding: .5em 1.5em;
    outline: none;
    box-shadow: 2px 2px 5px 0px #888;
}