
<div class="container-fluid">
	<div class="row">
		<div class="col-6 offset-3" style="margin-top: 3em;">

			<!-- Add Item  -->
			<label class="add-label">Add Item</label>
			<br>
			<form>
				<label><strong>Title</strong></label>
				<input type="text" placeholder="Add Title" [(ngModel)]="item.title" name="title" />
				<br><br>
				<label><strong>Description</strong></label>
				<input type="text" placeholder="Add Description" [(ngModel)]="item.description" 
				name="description"/>
				<br><br>
				<button class="btn btn-primary" (click)="onSubmit()">SUBMIT</button>
			</form>

			<div class="divider-line">
			</div>

			<!-- Display Items -->
			<div *ngIf="items?.length > 0; else noItems">
				<ul *ngFor="let item of items">
					<div (dblclick)="deleteItem($event, item)" class="item-listing-container">
						<li><strong>{{item.title}}:</strong></li>
						<li style="padding-left: 1em">{{item.id}}</li>
						<li style="padding-left: 1em">{{item.description}}</li>
					</div>
				</ul>
			</div>

			<!-- Display If there are zero Items in firestore database -->
			<ng-template #noItems>
				<hr>
				<h5>There are no items to list</h5>
			</ng-template>	
			<br><br><br>
		</div>
	</div>
</div>