<div class="container">

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?house" alt="house">
        </div>
        <div class="text">House</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-3">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?roof" alt="roof">
        </div>
        <div class="text">Home</div>
      </div>
    </div>

    <div class="gallery-container h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?backyard" alt="backyard">
        </div>
        <div class="text">Backyard</div>
      </div>
    </div>

    <div class="gallery-container w-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?porch" alt="porch">
        </div>
        <div class="text">porch</div>
      </div>
    </div>

    <div class="gallery-container w-4 h-1">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?sink" alt="sink">
        </div>
        <div class="text">Sink</div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?garage" alt="garage">
        </div>
        <div class="text">Garage</div>
      </div>
    </div>

    <div class="gallery-container h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?cabinets" alt="cabinets">
        </div>
        <div class="text">Cabinets</div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?furniture" alt="furniture">
        </div>
        <div class="text">furniture</div>
      </div>
    </div>

</div>