<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/img_banners/2.jpg" class="img-under-nav"/>
        <div class="row">
          <div class="col-12 top-header-title-container-profile-image">
            <div class="profile-image-container rounded-circle">
              <img src="../../../assets/img/avatar.png" class="profile-image"/>
            </div>
            <div class="top-header-title">
              <span class="top-header-title-bold">Cole</span> 
              <span class="top-header-title-light">Reasch</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4 category-title-container">
         <span class="category">Under Contract</span>
          <div class="line-divider"></div>
         
          <app-investor-listed-property></app-investor-listed-property>
          
    </div>
    <div class="col-4 category-title-container">
        <span class="category">Offers Made</span>
          <div class="line-divider"></div>
    </div>
    <div class="col-4 category-title-container">
        <span class="category">Property Watch List</span>
          <div class="line-divider"></div>
    </div>
  </div>
</div>
