<div class="container-fluid" style="background-color: #eaeaea">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="authorization-form-container">
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link-title">Page Links</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/home']">
							Home
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/verify-info-page']">
							Verify Details
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/fill-in-property-info-page']">
							Fill in Property Details
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/create-account']">
							Create Account
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/create-account-investor']">
							Create Account Investor
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/login']">
							Sign In
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/contact']">
							Contact Us
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/why-us']">
							Why Us
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/upload-photos']">
							Image Uploads
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/seller-account']">
							Seller Account
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/investor-account']">
							Investor Account
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/listing-time']">
							Time Frame
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/confirm-listing']">
							Submit Listing
						</div>
					</div>
				</div>
				
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/offers']">
							My Offers
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/expanded-property']">
							Expanded Property
						</div>
					</div>
				</div>
				
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/view-property']">
							View Properties
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-10 offset-1">
						<div class="page-link" [routerLink]="['/inbox']">
							Inbox
						</div>
					</div>
				</div> 
				<br><br>
			</div>
		</div>
	</div>
</div>  
<app-footer></app-footer>