

.btn-back{
    background-color: rgb(68, 197, 242);
    color:white;
    margin: 0 auto;
    font-size: 2em;
    border-radius: 3em;
    padding: .1em 2em;
    font-weight: 600;
    box-shadow: 1px 1px 5px 0px #888888;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 1em;
    margin-bottom: 4em;
}