.home-page-container{
  padding: 0em;
}

.img-under-nav-container {
  padding: 0px; 
}

.img-under-nav {
  /* filter: brightness(50%); */
  z-index: 1;
 
}

.img-cover{
  position: absolute;
  height: 12.5em;
  top: 20%;
  left: 0%;
  right: 0%;
  z-index: 2;
  background: black;
  opacity: .7;
  /* background: black;
  opacity: .4; */
}

.top-header{
  text-align: center;

  top: 34%;
  left: 0%;
  right: 0%;
  padding: 0 15%;
  position: absolute;
  z-index: 2;
  font-size: 3em; 
}

.company-logo{
  max-height: 1.4em;
}

.top-header-xs {
  text-align: center;
  width: 100%;
  top: 30%;
  height: 0;
  line-height: 0;
  position: absolute;
  z-index: 2;
  /*TEXT*/
  font-size: 1.5em;
  
}

.top-header-input{
  width: 100%;
  top: 41%;
  height: 0;
  line-height: 0;
  position: absolute;
  z-index: 2;
}

.top-header-oval-row{
  width: 100%;
  top: 60%;
  position: absolute;
  z-index: 2;
}

.top-header-logo{
    max-width: 40%;
    margin-bottom: 2em;
}

.container-init{
  display: none;
}

.view-more{
    /*padding: .5em .2em .5em 0em; */
    padding-top: .5em;
    margin-top: 2em;
    border-top: 1px solid #d3d3d3;
    font-weight: 400;
    color: #d3d3d3;
    font-size: .8em;
    font-family: 'Roboto', sans-serif;
    display: inline-block; 
    margin-right: 2em;
}
*
.search-bar-input{
  font-size: .5em; 
  font-family: 'Nunito'
}

.search-bar-label{
  color: white;
  font-size: .6em;
  text-align: center;
  width: 100%;
  font-weight: 600;
  margin-bottom: .6em;
}

.bottomborder {
   border-top: 2px solid #d3d3d3;
   width: 100%;
   height: 1px;
   margin-top: .5em;
}

.container-container-home-info{
  left: 20%;
  right: 20%;
  position: absolute; 
  bottom: -6em;
  display: flex;
  justify-content: space-evenly;
  z-index: 100;
}

.container-home-info {
  font-family: Century Gothic, sans-serif;
  height: 15em;
  width: 30%;
  background-color: white;
  border-radius:18px;
  padding: .75em 0em;
  text-align: center;
}

/* *{
  border: 1px solid red;
} */

.home-info-img{
  width: 3.5em;
  margin-top: 1.5em;
}

.home-info-header{
  color: gray;
  font-size:.9em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1em;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
}

.home-info-label{
  color: gray;
  font-size:.9em;
  margin-top: .2em;
  line-height: 1;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}

.home-offer-instruction-column{
    font-family: Century Gothic, sans-serif;
}

.home-offer-container{
     /*border-bottom: 1px solid #d3d3d3;*/
     background: white;
     margin-top: 2em;
     border-radius: .1em;
     padding: 1em 0em;
     cursor: pointer;
     width: 100%;
}

.home-offer-container:hover {
    /*box-shadow: 0px 0px 2px 0px #7A7A7A;*/
    box-shadow: 1px 1px 5px 0px #888888;
}

.home-offer-instruction-circle-container{
  height: 100%;
  display: inline-flex;
}

.home-offer-instruction-circle{
  align-self: center;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  background-color: rgb(68, 197, 242);
  text-align: center;
  padding-top: .2em;
}

.home-offer-title {
    font-weight: 600;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: .4em;
    width: 100%;
}

.home-offer-divider-line{
   border-top: 2px solid #d3d3d3;
   width: 100%;
   height: 1px;
   margin-top: .5em;
}

.home-offer-instruction{
   font-weight: 300;
   font-size: 1.1em;
   line-height: 1.2em;
   font-family: 'Roboto', sans-serif;
   width: 100%;
}

.home-offer-paragraph {
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin-top: .7em;
  margin-left: 2em;;
}

.home-offer-paragraph-header {
  font-weight: 600;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin-top: .5em;
  color: #000;
}




#space{
    height: 20em;
    width: 100%;
}

#space1{
    height: 20em;
    width: 100%;
}

.home-sub-title{
    font-family: Century Gothic, sans-serif;
    font-size: 2em;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    padding-left: 0em;
    padding-bottom: .3em;
    
}

.label-address {
    font-family: Century Gothic, sans-serif;
    font-size: 1em;
}

.form-control {
    border: .5px solid gray;
    border-radius: .5em;
    padding-left: .5em;
    outline-color: red !important;
    outline: none;
    font-family: Century Gothic, sans-serif;
    color: #7E8084;
    box-shadow: none;
}

.form-control:focus {
    border-color: rgb(68, 197, 242);
}

.input-group-text{
    background: rgb(68, 197, 242);
    cursor: pointer;
    margin-left:.3em;
    border: .1em solid rgb(68, 197, 242);
    border-radius: 1em;
    color: white;
}

.input-group-text:hover{
  color: #B9E7FA !important;
}

.go-arrow{
    font-size:2em;
    /* color:white; */
}

.go-arrow-hovered{
  color: red !important;
}

::placeholder{
    text-align: left;
    font-size: .8em;
    padding-right: .3em;
    font-family: Century Gothic, sans-serif;
    color: #dbdbdb;
}



.bottom-title {
    font-weight: bold;
    margin-bottom: 1em;
}

.bottom-item {
    font-size: .8em;
    font-weight: bold;
    color: #d3d3d3;
    margin-top: .4em;
    cursor: pointer;
}

.bottom-phone {
    font-weight: bold;
    font-size: .8em;
    margin-top: .6em;
}

.btn-modal-close{
  background-color: rgb(68, 197, 242);
  color: white;
  border: 1px solid white;
  /*box-shadow: 3px 3px 3px 1px #d2d2d2;*/
}

.btn-modal-continue-anyway{
  background-color: #00e500;
  color: white;
  border: 1px solid white;
 /* box-shadow: 3px 3px 3px 1px #d2d2d2;*/
}

.modal-title, .modal-body{
  font-weight: 600;
  font-size: 1.1em;
}

.modal-body{
  text-align: center;
}

.modal-footer{
  display: inline-block;
  text-align: center;
}

.modal-content{
  background-color: rgb(68, 197, 242);
  color:#fff;
  border: 1px solid white;
}

.modal-icon-close{
  color: white;
}

.image-tip-list{
  margin-top: 1em;
  margin-left: 3em;
}

.have-questions{
  text-align: center;
  color: #949697;
  margin: 1em auto;
  font-family: Nunito, sans-serif;
  font-size: 1.84em;
  font-weight: 400;
  color: rgb(128, 128, 128);
}

.btn-contact {
  text-align: center;
  color: white; 
  background-color: #43C5E4;
  margin: 0 auto;
  padding: 1em 5em;
  border-radius: 1.5em;
  cursor: pointer;
  -moz-box-shadow:    5px 5px 10px 0px #d3d3d3;
  -webkit-box-shadow: 5px 5px 10px 0px #d3d3d3;
   box-shadow:         5px 5px 10px 0px #d3d3d3;
}

.btn-contact:focus { 
  outline-style: none; 
}

.container-how-to-receive-offer{
  background-color: white;
  width: 100%;
  padding: 2em;
}

.middle-blue-section{
  width: 100%;
  margin-top: 1em;
}

.image-blue-middle-section{
  width: 100%;
}



.how-to-items-row-container{
  margin-top: 2.5em;
}

.how-to-receive-offer-title{
  font-family: Century Gothic, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: gray;
}

.how-to-items-container{
  display: flex;
}

.how-to-item-number{
  display: flex; 
  flex-direction: column;
  text-align: center;
  line-height:  .7em;
  justify-content: center; 
  align-items: center; 
  margin-right: .2em;
  color: #43C5E4;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-size: 4em;
}

.how-to-item-info{
  display: flex;
  flex-direction: column;

}

.how-to-item-info-header{
  color: #43C5E4;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.1em;
}

.how-to-item-info-sub-header{
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.1em;
  margin-top: .2em;
}

.container-how-to-receive-offer-bottom-line{
  width: 100%;
  border: .5px solid gray;
  height: .5px;
  margin-top: 3em;
  margin-bottom: 2em;
}


.container-house-image{
  position: absolute;
  z-index: 2;
  bottom: 0%;
  left: 0%;
  right: 0%;
  text-align: end;
}

.house-image{
  width: 550px;
  margin-right: .5em;
}

.footer-section {
  background-color: #13335A;
  display: grid;
  grid-template-columns: 3.5fr 1fr 1fr 1fr; /* fraction*/
  height: 14em;
}

.footer-large-column{
  position: relative;
}

.footer-column{
  position: flex;
}

.footer-company-image{
    width:260px;
    position: absolute;
    left: 12%;
    top: 12%;
}

.footer-button-contact-homeslack{
  background-color:#307FE2;
  position: absolute;
  right: 10%;
  top: 15%;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  font-weight: 500;
  padding: 6px 11px;
}

.footer-LLC{
  display: inline-block;
  position: absolute;
  bottom: 6%;
  left: 12%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9em;
} 

.footer-list-header, .footer-list-sub-header{
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.footer-list-header{
  color: white;
  font-weight: 500;
  font-size: 1em;
  margin-top: 1.3em;
}

.footer-list-sub-header{
  font-weight: 400;
  font-size: .8em;
  margin-top: .6em;
  letter-spacing: 0;
  color: #6EA5EB;
  opacity: 1;
}