
<div class="container-fluid home-page-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="padding: 0;">
            
            <img  class="img-under-nav" src="../../../assets/img/landing_page.jpg"/>
        
            <div class="img-cover"></div>

            <div class="top-header">
            <!-- <img class="img-fluid company-logo" src="../../../assets/img/home_slack_logo_white.png" /> -->

              <div class="search-bar-label">
                  SELL YOUR HOME FOR <span style="color:rgb(68, 197, 242)">FREE!</span>
              </div>
          
              <div class="row">
                <div class="col-8 offset-2">
                  <div class="input-group d-none d-md-flex" style="height: .8em;">
                        <input placeholder="Enter your home address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                        #search [formControl]="searchControl" style="font-size: .5em; font-family: 'Nunito'; text-transform: capitalize;" (keydown)="onKeyDown($event)">
                        
                    <div class="input-group-append">
                      <span class="input-group-text" (click)="onClickSearchArrow()">
                        <i class="material-icons go-arrow">arrow_forward_ios</i>
                      </span>
                    </div>
                  </div>
                  <div class="input-group d-flex d-md-none" style="height: .8em; margin: .3em 0em;">
                        <input placeholder="Enter Your Address Here" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control search-bar-input"
                        #search [formControl]="searchControl" (keydown)="test()">
                        
                    <div class="input-group-append">
                      <span class="input-group-text" (click)="onClickSearchArrow()">
                        <i class="material-icons go-arrow">arrow_forward_ios</i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="container-container-home-info">
                    <div class="container-home-info">
                       <img class="img-fluid home-info-img" src="../../../assets/img/ic_free.png" />
                       <div class="home-info-header">FREE</div>
                       <div class="home-info-label">Seller pays nothing</div>
                       <div class="home-info-label">No repairs needed</div>
                       <div class="home-info-label">No closing costs</div>
                       <div class="home-info-label">No agent fees</div>
                    </div>
              
                    <div class="container-home-info">
                      <img class="img-fluid home-info-img" src="../../../assets/img/ic_computer.png" />
                      <div class="home-info-header">ALL ONLINE</div>
                      <div class="home-info-label">All online</div>
                      <div class="home-info-label">No annoying calls</div>
                      <div class="home-info-label">No in-person meetings</div>
                      <div class="home-info-label">No price haggling</div>
                    </div>
              
                 
                    <div class="container-home-info">
                      <img class="img-fluid home-info-img" src="../../../assets/img/ic_cash.png" />
                      <div class="home-info-header">SELLER PAYS NOTHING</div>
                      <div class="home-info-label">All cash offers</div>
                      <div class="home-info-label">No appraisals</div>
                      <div class="home-info-label">No home inspections</div>
                      <div class="home-info-label">Move on your time-frame</div>
                    </div>
              </div>  
            </div>
            
          <!--  <div class="col-12 top-header-xs d-block d-sm-none">
            <img class="img-fluid" style="max-height: 1.4em;" src="../../../assets/img/logo.png" />
          </div> -->
    
    </div>
  </div>

  <div class="middle-blue-section">
    <img  class="image-blue-middle-section" src="../../../assets/img/landing_page_blue_image.jpg"/>
  </div>

  <div class="container-how-to-receive-offer">
    <div class="row">
      <div class="col-6">
        <div class="container-house-image">
          <img  class="house-image" src="../../../assets/img/home_page_realestate_image.png"/>
        </div>
      </div>
      <div class="col-6">
        <div class="how-to-receive-offer-title">
          HOW CAN I RECEIVE <br> AN OFFER ON MY HOME?
        </div>
      </div>
    </div>
    <!-- Row 1 - Answers 1 & 2 -->
    <div class="row how-to-items-row-container">
      <div class="offset-2 col-8">
        <div class="row">
          <div class="col-6">
            <div class="how-to-items-container">
              <div class="how-to-item-number">
                1
              </div>
              <div class="how-to-item-info">
                <div class="how-to-item-info-header">
                  VERIFY YOUR INFORMATION
                </div>
                <div class="how-to-item-info-sub-header">
                  After we pull your address, verify the information is correct
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="how-to-items-container">
              <div class="how-to-item-number">
                2
              </div>
              <div class="how-to-item-info">
                <div class="how-to-item-info-header">
                  SELECT A TIME-FRAME
                </div>
                <div class="how-to-item-info-sub-header">
                  Tell us when you need the money<br>Tell us when you will be out of your home
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Row 2 - Answers 3 & 4 -->
    <div class="row how-to-items-row-container">
      <div class="offset-2 col-8">
        <div class="row">
          <div class="col-6">
            <div class="how-to-items-container">
              <div class="how-to-item-number">
                3
              </div>
              <div class="how-to-item-info">
                <div class="how-to-item-info-header">
                  VERIFY YOUR INFORMATION
                </div>
                <div class="how-to-item-info-sub-header">
                  After we pull your address, verify the information is correct
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="how-to-items-container">
              <div class="how-to-item-number">
                4
              </div>
              <div class="how-to-item-info">
                <div class="how-to-item-info-header">
                  SELECT A TIME-FRAME
                </div>
                <div class="how-to-item-info-sub-header">
                  Tell us when you need the money<br>Tell us when you will be out of your home
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Row 3 - Answers 5 & 6 -->
    <div class="row how-to-items-row-container" >
      <div class="offset-2 col-8">
        <div class="row">
          <div class="col-6">
            <div class="how-to-items-container">
              <div class="how-to-item-number">
                5
              </div>
              <div class="how-to-item-info">
                <div class="how-to-item-info-header">
                  VERIFY YOUR INFORMATION
                </div>
                <div class="how-to-item-info-sub-header">
                  After we pull your address, verify the information is correct
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="how-to-items-container">
              <div class="how-to-item-number">
                6
              </div>
              <div class="how-to-item-info">
                <div class="how-to-item-info-header">
                  SELECT A TIME-FRAME
                </div>
                <div class="how-to-item-info-sub-header">
                  Tell us when you need the money<br>Tell us when you will be out of your home
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-how-to-receive-offer-bottom-line">
        </div>
      </div>
    </div>
  </div> 
</div>

<div class="footer-section">
  <div class="footer-large-column">
    <img class="footer-company-image" src="../../../assets/img/home_slack_logo_white.png" />
    <button class="footer-button-contact-homeslack" >TRY HOMESLACK</button>
    <div class="footer-LLC">@ 2018 Homeslack, LLC</div>
  </div>
  <div class="footer-column">
    <div class="footer-list-header">Information</div>
    <div class="footer-list-sub-header">placeholder</div>
    <div class="footer-list-sub-header">placeholder</div>
    <div class="footer-list-sub-header">placeholder</div>
    <div class="footer-list-sub-header">placeholder</div>
    <div class="footer-list-sub-header">placeholder</div>
  </div>  
  <div  class="footer-column">
    <div class="footer-list-header">About</div>
    <div class="footer-list-sub-header">placeholder</div>
    <div class="footer-list-sub-header">placeholder</div>
  </div>
  <div class="footer-column">
    <div class="footer-list-header">Contact</div>
    <div class="footer-list-sub-header">Try Homeslack</div>
    <div class="footer-list-sub-header">Ask a Question</div>
  </div>
</div>


  

