.closing-countdown-container{
	  text-align: center;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    position: absolute;
    z-index: 20;
    border-radius: 1em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    background:rgba(0,0,0,0.3);
}

.closing-label{
  	text-align: center;
  	font-size: 1.8em;
  	color:white;
  	width: 100%;
    margin-bottom: .5em;
}

.countdown-time-label{
  	color: white;
  	font-size: .9em;
    margin-top: .3em;
    width: 100%;
}

.time-circle{
    border-radius: 50%;
    width: 2.3em;
    height: 2.3em;
    background: #fff;
    color: #FFFFFF;
    font-family: Century Gothic, sans-serif;
    font-size: 2em;
    font-weight: 400;
    background-color: red;    
}

.offers-label{
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2em;
}

.offers-label-1 {
  color: gray;
}

.offers-label-2 {
  color: rgb(68, 197, 242);
}

.offers-sub-label {
  color: gray;
  border-bottom: .05em solid gray;
  padding-bottom: .3em;
}





//--------------------------------------------------------------


.company-color {
  color: rgb(68, 197, 242);
}


.bottom-page-container{
    background-color: white;
    padding: 3em 0em;
}

.bottom-page-container-xs{
    background-color: white;
    padding: 3em 3em;
}

.img-logo{
  margin: 1em auto;
  width: 8em;
  height: 8em;
}

.address {
  text-align: center;
   color: #bcbcbc;

  font-family: Nunito, sans-serif;
  font-weight: 300;
  font-size: 1.13em;
}

.input-edit-property {
    width: 100%;
    border: .5px solid gray;
    border-radius: .5em;
    padding: .5em;
    outline-color: red;
    outline: none;
    font-family: Century Gothic, sans-serif;
    color: #0b3aa2;
    margin-top: .3em;
}

.top-image-container{
    padding: 0em;
    position: relative;
}

.img-under-nav-container {
  position: relative;
  display: inline-block;
  background-color: #000;
  padding: 0em;
}

.img-under-nav {
  position: relative;
  width: 100%;
  display: block;
  z-index: 1;
}

.top-header{
  text-align: center;
  width: 100%;
  top: 15%;
  height: 0;
  line-height: 0;
  position: absolute;
  z-index: 2;
}

.top-header-title-container, .top-header-title-container-profile-image{
    text-align: center;
    width: 100%;
    height: 0;
    line-height: 0;
    position: absolute;
    z-index: 2;
    height: 5em;
}

.top-header-title-container{
  top: 50%;
}

.top-header-title-container-profile-image{
    top: 0%;
}

.profile-image-container{
    height: 9em;
    width: 9em;
    margin: 0 auto;
}


.top-header-time-frame-icons-container{
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: -10%;
}

.top-header-time-icon-column{
  text-align: center;
}

.top-header-time-icon{
    width: 80px;
    height: 80px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    border-radius: 100%;
}

.top-header-circle{
    bottom: -12%;
    position: absolute;
    z-index: 2;
}

.top-header-title{
  font-family: Century Gothic, sans-serif;
  font-size: 3em;
  color:rgba(255,255,255,.9);
}

.top-header-title-bold{
    font-weight: bolder;
}

.top-header-title-light{
    font-weight: lighter;
}

.circle-img{
  width: 2em;
  height: 2em;
  position:absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin:auto;
}

.nav-circle-icon{
  cursor: pointer;
  outline: none;
}

/*----------Check Mark-------------------*/

.checkmark-container{
    margin: .5em 0em;
    background: #ededed;
    border-color: #ededed;
    width: 100%;
    border-radius: .4em;
    padding: .5em .5em 1em 1em;
    font-weight: 300;
    font-size: 1.2em;
    text-align: left;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  line-height: 1.2em;
  margin-top: .8em;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(68, 197, 242);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 1px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*-------------------End of checkmark-------------------------*/

 /* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .top-header-title{
    font-family: Century Gothic, sans-serif;
    font-size: 1.7em;
  }

  .top-header-time-frame-icons-container{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 75%;
  }

  .top-header-time-icon{
      width: 30px;
      height: 30px;
  }
}

.house-image-container{
  margin-top: 4em;
}

.property-right{
  margin-bottom: .5em;
  width: 85%;
}

.property-more{
  opacity: .3;
}

.main-property-column{
  padding: 0em;
}


.street-address{
    color: rgb(68, 197, 242);
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
}

.city-state-address{
    font-size: 1em;
    font-weight: bold;
    color: gray;
}

.edit-property{
    color: rgb(68, 197, 242);
    font-size: .8em;
    font-weight: bold;
    cursor: pointer;
}

.gray-circle-placeholder{
  width: 5em;
  height: 5em;
  background: lightgray;
  border-radius: 100%;
  margin: 0 auto;
}

.blue-circle-placeholder{
  width: 5em;
  height: 5em;
  background: rgb(68, 197, 242);
  border-radius: 100%;
  margin: 0 auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.error-hint{
  /* border: 0px solid #D8000C; */
  color: #000;
  background-color: #FFD2D2;
  font-size:.8em;
  font-weight: bold;
  padding: .3em 1em;
  border-radius: 10px;
  margin-top: .5em;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}

.warning{
  color: #D8000C !important;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
