<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/header_time_frame.jpg" class="img-under-nav"/>
        <div class="row">
          <div class="col-4 offset-4 closing-countdown-container">
				<div class="row">
					<div class="closing-label">SELECT OFFER</div>
				</div>
				<div class="row">
					<div class="col-10 offset-1">
						<div class="row">
							<div class="col-3 d-flex flex-column align-items-center">
				              	<div class="time-circle d-flex justify-content-center">
				                	<div class="align-self-center">4</div>
				              	</div>  
								<div class="countdown-time-label">Days</div>
							</div>
							<div class="col-3 d-flex flex-column align-items-center">
								<div class="align-self-center">
					              <div class="time-circle d-flex justify-content-center">
					                <div class="align-self-center">5</div>
					              </div>
					            </div>
								<div class="countdown-time-label">Hours</div>
							</div>
							<div class="col-3 d-flex flex-column align-items-center">
								<div class="align-self-center">
					              <div class="time-circle d-flex justify-content-center">
					                <div class="align-self-center">16</div>
					              </div>
					            </div>
								<div class="countdown-time-label">Minutes</div>
							</div>
							<div class="col-3 d-flex flex-column align-items-center">
								<div class="align-self-center">
					              <div class="time-circle d-flex justify-content-center">
					                <div class="align-self-center">13</div>
					              </div>
					            </div>
								<div class="countdown-time-label">Seconds</div>
							</div>
						</div>
					</div>
				</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    	<div class="col-6 offset-3">
    		<div class="offers-label">
    			<span class="offers-label-1">My</span> <span class="offers-label-2"> Offers</span>
    		</div>
    		<div class="offers-sub-label">
    			Simply click on an offer to see that investors profile.
    		</div>
    	</div>
    </div>
    <app-offer-item price="$215,000.000"></app-offer-item>
    <app-offer-item price="$300,000.000"></app-offer-item>
    <app-offer-item price="$275,000.000"></app-offer-item>
    <br><br><br><br><br><br><br>
</div>