.left-container{
    border-right: 1px solid #eaeaea;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10em;
}

.label-upload-photos{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    color: rgba(0,0,0,.9);
}

.right-container{
    padding: 8em 0em 4em 0em;   
}

.container-dropzone{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-upload-container-tall, .image-upload-container-small{
    border-radius: 10px;
    background-color: #04A3C8; 
    margin-top: .2em;
    margin-left: 0em;
    margin-right: 0em;
    padding: 0em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

/* .image-upload-container-tall{
    height: 24em;
}

.image-upload-container-small{
    height: 18em;
} */

.image-upload-container-small:hover, .image-upload-container-tall:hover{
    box-shadow: 3px 3px 8px rgba(0,0,0,.3);
    opacity: .9;
}

.at-least{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: inline-block;
}

.container-add-labels{
    text-align: center;
}

.btn-add{
    border-radius: 5px;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    height: 2em;
    background:  rgb(68, 137, 242);
    outline: none;
    border:none;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 0em 1em;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    opacity: 1 !important;
    z-index: 100;
}

.label-drag-add-drop{
    color: white;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.label-or{
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: .3em;
}

.tip-item{
    text-decoration: none;
    list-style-type: none;
}

.icon-photo{
    margin-left: .5em;
    color: white;
}



  .btn-next{
    margin-top: 2em;
    margin-right: 2em;
    color: white;
    background-color: rgb(68, 197, 242);
    border: none;
    border-radius: 1em;
    cursor: pointer;
    padding: .5em 1.5em;
    outline: none;
    box-shadow: 2px 2px 5px 0px #888;
}

.btn-next-disabled{
    margin-top: 2em;
    margin-right: 2em;
    color:rgba(255,255,255,.5);
    background-color:rgba(68, 197, 242,.5);
    border: none;
    border-radius: 1em;
    cursor: pointer;
    padding: .5em 1.5em;
    outline: none;
    box-shadow: 2px 2px 5px 0px #888;
    box-shadow: none;
    pointer-events: none;
}

.left-image-container{
    position: relative;
    border-radius: 1em;
    
}



.dropzone-background-image, .dropzone-background-image-hovered{
    width: 100%;
    border-radius: 1em;
    opacity: .8;
}

.dropzone-background-image-hovered{
    opacity: .6;
}


.left-image-overlay-text{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 2;
    /* color: white;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Roboto',sans-serif; */
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    /* display: inline-block; */
    padding: 6px 20px;
    cursor: pointer;
    background-color: rgb(68, 197, 242);
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    outline: none;
    display: inline-flex;
    align-items: center;
}

.icon-upload{
    color: white;
    margin-left: .4em;
}