<div class="container-fluid top-image-container" >
        <div class="row" >
          <div class="col-12">
            <img src="../../../assets/img/img_banners/9.jpg" class="img-under-nav"/>
            <div class="row">
              <div class="col-12 top-header-title-container">
                <div class="top-header-title"><span class="top-header-title-bold">UPLOAD</span> <span class="top-header-title-light"> PHOTOS</span></div>
              </div>
            </div>
    
            <div class="row top-header-time-frame-icons-container">
                <div class="col-8 offset-2">
                <div class="row">
                    <div class="col top-header-time-icon-column">
                        <img class="top-header-time-icon nav-circle-icon" matTooltipPosition="above" matTooltip="Need to search for your home again? Click to go back and search again" [routerLink]="['../home']" src="../../../assets/img/ic_time_frame_magnify_blue.png" />
                    </div>
                    <div class="col top-header-time-icon-column">
                        <img class="top-header-time-icon nav-circle-icon" matTooltipPosition="above" matTooltip="Forget to enter some information about your home? Click to go back and update" [routerLink]="['../verify-info-page']" src="../../../assets/img/ic_time_frame_question_blue.png" />
                    </div>
                    <div class="col top-header-time-icon-column">
                        <img class="top-header-time-icon nav-circle-icon" matTooltipPosition="above" matTooltip="Something wrong with the time-frame for getting your home sold? Click to go back and update" [routerLink]="['../listing-time']" src="../../../assets/img/ic_time_frame_time_blue.png" />
                    </div>
                    <div class="col top-header-time-icon-column">
                        <img class="top-header-time-icon" matTooltipPosition="above" matTooltip="Add pictures of your home below" src="../../../assets/img/ic_time_frame_camera_blue.png"/>
                    </div>
                    <div class="col top-header-time-icon-column">
                        <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_check_mark_grey.png" />
                    </div>
                    </div>
                </div>
              </div>
    
          </div>
        </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3" style="padding: 0">
            <div class="left-container">

                <div class="left-image-container">
                    <img class="left-image" src="../../../assets/img/taking_photo_blue.jpg" />
                    <div class="left-image-overlay-text">Placeholder</div>
                </div>

                <!-- The pictures uploaded will be used by investors to assess the condition of your property.      
                Investors are willing to pay more for homes that have detailed pictures. It's best to include the good and the bad.
                <li class="tip-item"></li>Hold your camera steady</li>
                <li class="tip-item">Good lighting</li>
                <li class="tip-item">Take horizontal photos (landscape) </li>
                <li class="tip-item">Minimum of 10 photos</li> -->
               
            
            </div>
        </div>
        <div class="col-9" style="padding: 0">

            <div class="right-container">
                <div class="label-upload-photos">
                    Upload photos of your home
                </div>
                <div [ngClass]="{'image-upload-container-tall': (mImageList == null || mImageList.length == 0),
                    'image-upload-container-small': mImageList.length > 0}"
                dropzone
                (hovered)="toggleHover($event)"
                (dropped)="onDrop($event)"
                [class.hovering]="isHovering">
                    <div class="container-add-labels">
                        <input class="file-input" type="file"  value="Add" placeholder="test" (change)="showPreview($event.target.files)">
                        <div class="label-drag-add-drop">Drag and Drop photos here</div>
                        <div class="label-or">or</div>
                        <button class="btn-add" (click)="clickSlide()">
                        Select  <i class="material-icons" style="margin-left: 8px; align-self: center;">cloud_upload</i>
                        </button>
                        <div style="display: flex; align-items: center; margin-top: 2em; justify-content: center;">
                            <div class="at-least" *ngIf="mImageList != null && mImageList.length >= 10">
                                Feel free to move on or keep adding photos
                            </div>
                            <div class="at-least" *ngIf="mImageList != null && mImageList.length < 10">
                                {{ 10 - mImageList.length }} more photos needed
                            </div>
                            <div class="at-least" *ngIf="mImageList == null">
                                {{ 10 }} more photos needed
                            </div>
                            <i class="material-icons icon-collections">collections</i>
                        </div>
                    </div>
                </div>

                
               
                <div [hidden]="true" style="position: relative;width: 100%; height: 20em;  margin-top: 4em; border: 2px solid blue">
                    <img style="width: 100%; height: 100%;" src="../../../assets/img/taking_photo_blue.jpg" />
                    <div style="position: absolute; top: 0%; display: block; overflow-x: scroll;">
                        <div class="items">
                            <div class="item" *ngFor="let image of mImageList; let i = index">
                                <div class="imagebox">
                                    <span style="position: absolute; top: 2px; right: 5px; z-index: 10; font-size: 1.1em; color: rgba(68, 137, 242, .7); cursor: pointer;">x</span>
                                    <img [src]="mImageList[i].image_url" class="home-image img-fluid">
                                    <span class="imagebox-desc">bathroom</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="glide">
                        <div data-glide-el="track" class="glide__track">
                          <ul class="glide__slides">

                            <li *ngFor="let image of mImageList" class="glide__slide">
                            
                                    <img style="height: 200px; width: 200px" [src]="image.image_url" class="img-fluid">

                                        
                                        
                            </li>
                          </ul>
                        </div>
                        <div class="glide__arrows" data-glide-el="controls">
                                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                              </div>
                      </div>
              
                
                <div *ngFor="let file of mFiles">
                    <uploader-task [file]="file"></uploader-task>
                </div>
                <div style="width: 100%; text-align: end;">
                    <button *ngIf="10 - mImageList.length <= 0"  class="btn-next" (click)="clickNextPage()">Next</button>
                    <button *ngIf="10 - mImageList.length > 0" class="btn-next-disabled" (click)="clickNextPage()" matTooltipPosition="above" matTooltip="Need to upload at least 10 photes before proceeding">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>