.input-login, .input-login-half {
    border: .5px solid gray;
    border-radius: .5em;
    margin-top: .5em;
    padding: .5em;
    outline-color: red;
    outline: none;
    font-family: 'Nunito', sans-serif;
    color: #0b3aa2;
}

.input-login{
    width: 100%;
}



input:focus {
    border-color:#0b3aa2;
}


.btn-sign-in {
    border-radius: 1em;
    color:white;
    background-color:rgb(68, 197, 242);
    float: right;
    padding: .3em 1.4em;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px 0px #888888;
    cursor: pointer;

}

.forgot-label {
    margin-top: .5em;
}

.click-here {
    color:rgb(68, 197, 242);
    cursor: pointer;
}

.send-info-container{
    background: #ededed;
    width: 100%;
    border-radius: .4em;
    margin-bottom: .5em;
    padding: .5em;
    font-weight: 300;
    font-size: 1.2em;
}

.form-check{

}

.form-check-input{
    margin-top: .5em;
}

/* COMMON RADIO AND CHECKBOX STYLES  */
input[type=checkbox]{
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}

input[type=checkbox] + label:before{
  height:.7em;
  width:.7em;
  margin-right: .5em;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  border:1px solid #777;
}

input[type=checkbox]:checked + label:before{
  background:white;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */

input[type=checkbox] + label:before{
  border-radius:2px;
}
