<div class="property-listing-container">
    <div class="row top-row">
        <div class="col-3">
            <img class="rounded-circle house-img" src="../../../assets/img/property1.1.jpg"  />
        </div>
        <div class="col-9">
            <div class="address-line-one">1472 E Federal Heights Dr</div>
            <div class="address-line-two">Salt Lake City, UT 84103</div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="closing-label">CLOSING COUNTDOWN</div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="col-3">
                    <div class="countdown-circle d-flex align-items-center justify-content-center">
                        <span class="countdown-circle-number">56</span>
                    </div>
                    <div class="countdown-label">Days</div>
                </div>
                <div class="col-3">
                    <div class="countdown-circle d-flex align-items-center justify-content-center">
                         <span class="countdown-circle-number">45</span>
                    </div>
                    <div class="countdown-label">Hours</div>
                </div>
                <div class="col-3">
                     <div class="countdown-circle d-flex align-items-center justify-content-center">
                         <span class="countdown-circle-number">16</span>
                    </div>
                    <div class="countdown-label">Minutes</div>
                </div>
                <div class="col-3">
                     <div class="countdown-circle d-flex align-items-center justify-content-center">
                         <span class="countdown-circle-number">34</span>
                    </div>
                    <div class="countdown-label">Seconds</div>
                </div>
            </div>
        </div>
    </div>
</div>