

<div class="gallery-container">
    <div class="container-item">
        <div class="gallery-item">
            <div class="image">
                <img style="opacity: .8;" src="https://source.unsplash.com/1600x900/?house" alt="property">
            </div>
            <img class="watch-heart" src="../../../assets/img/heart_red.png" (click)="onClickWatchHeart($event)" />
        </div>
        <div class="address-container">
            <div class="left">
                <div class="street-address">{{listing.address.street}}</div>
                <div class="state-address">{{listing.address.city}}, {{listing.address.state}} {{listing.address.zip_code}}</div>
            </div>
            <div class="right">
                <div class="bid-number">
                    $534,023
                </div>
                <label>Highest bid</label>
            </div>
            
        </div>
       <div class="property-details">
          
           <img class="ic-bed" src="../../../assets/img/bedroom_blue.png" />
            <div class="label-container">
                <h5>Bedrooms</h5>
                <h6>{{listing.beds}}</h6>
            </div>
           <img class="ic-bath" src="../../../assets/img/bathroom_blue.png" />
           <div class="label-container">
                <h5>Bathrooms</h5>
                <h6>{{listing.baths}}</h6>
            </div>
           <img class="ic-house" src="../../../assets/img/house_blue.png" />
           <div class="label-container">
            <h5>Total living area</h5>
            <h6>{{listing.living_square_feet}} sqft</h6>
        </div>
       </div>
    </div>
</div>