<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/img_banners/3.jpg" class="img-under-nav"/>
        <div class="row">
          <div class="col-12 top-header-title-container">
            <div class="top-header-title"><span class="top-header-title-bold">CREATE</span> <span class="top-header-title-light"> ACCOUNT</span></div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="col-6 offset-3 d-none d-md-block" style="padding: 4em 0em 0em 0em;">
	
 <!-- {{mSellerPropertyDetails | json}} -->
  <form class="custom-form" [formGroup]="myFormContact">

    <label class="title">Welcome to <span class="title-company">Homeface</span></label>
    <input class="input-login" matInput type="text" placeholder="First Name" [formControl]="firstName"
        [ngStyle]="{'border': (firstName.invalid && firstName.touched) ? '.5px solid red' : '.5px solid gray', 'text-transform': 'capitalize'}"/>
    <div class="error-hint" *ngIf="firstName.invalid && firstName.touched">
        Please enter first name
    </div>

    <input class="input-login" matInput type="text" placeholder="Last Name"  [formControl]="lastName"
    [ngStyle]="{'border': (lastName.invalid && lastName.touched) ? '.5px solid red' : '.5px solid gray', 'text-transform': 'capitalize'}"/>
    <div class="error-hint" *ngIf="lastName.invalid && lastName.touched">
        Please enter last name
    </div>

    <input class="input-login" matInput oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" placeholder="Phone"  [formControl]="phone" maxlength="10"
    [ngStyle]="{'border': (phone.invalid && phone.touched) ? '.5px solid red' : '.5px solid gray'}" />
    <div class="error-hint" *ngIf="phone.invalid && phone.touched">
        Phone number needs to be 10 numbers
    </div>

    <input class="input-login" matInput type="email" placeholder="Email/login" [formControl]="email" 
    [ngStyle]="{'border': (email.invalid && email.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    <div class="error-hint" *ngIf="email.invalid && email.touched">
        Your email does not look right
    </div>

    <input class="input-login" matInput type="password" placeholder="Password" [formControl]="password"
    [ngStyle]="{'border': (password.invalid && password.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    <div class="error-hint" *ngIf="password.invalid && password.touched">
        Your password doesn't look right
    </div>

    <input class="input-login" matInput type="password" placeholder="Re-Enter Password" [formControl]="confirmPassword"
    [ngStyle]="{'border': (myFormContact.hasError('notSame') && confirmPassword.invalid && confirmPassword.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    <div class="error-hint" *ngIf="myFormContact.hasError('notSame') && confirmPassword.invalid && confirmPassword.touched">
        Passwords need to match
    </div>
</form>	

  <div class="form-group">
    <div class="form-control checkmark-container">
      <div class="form-check">
	    <label class="container">I want to receive status updates via text
		  <input type="checkbox" checked="checked">
		  <span class="checkmark"></span>
		</label>
	  </div>
      <div class="form-check">
	    <label class="container">I want to receive status updates via email
		  <input type="checkbox" checked="checked">
		  <span class="checkmark"></span>
		</label>
	  </div>
    </div>
  </div>
    
	
	<div class="company-terms">By creating an account you are agreeing with the Homeface <a class="terms-link" (click)="onClickTerms()">Terms</a></div>
	

	<div style="width: 100%;text-align: right;" [hidden]="myFormContact.valid">
      <div class="btn-container-default" matTooltip="Please make sure all the information above is filled out and correct" matTooltipPosition="above">
          <button  [disabled]="true" class="btn-create-default">SEND</button>
      </div>
  </div>

  <div class="btn-container" [hidden]="!myFormContact.valid">
      <input type="submit" value="Create Account" class="btn btn-light" (click)="createUserAccount()" /> 
  </div>
	
	<div class="line-divider" style="margin-top:3.4em;"></div>
	<div class="already-have-account-div">Already have a Homeface account? <a class="sign-in-link" [routerLink]="['/login']">Sign In</a></div>
	<!-- <div class="line-divider" style="margin-bottom: 0em"></div> -->
</div>



<!-- XS View -->
<!-- <div class="col-10 offset-1 d-block d-md-none" style="padding: 4em 0em 0em 0em; text-align: center">
  <label class="title">Welcome to <span class="title-company">Homeface</span></label>
  <input class="input-login" type="text" placeholder="First Name" [formControl]="firstName"
  [ngStyle]="{'border': (firstName.invalid && firstName.touched) ? '.5px solid red' : '.5px solid gray'}">

  <input class="input-login" type="text" placeholder="Last Name"  [formControl]="lastName">
  <input class="input-login" type="text" placeholder="Phone"  [formControl]="phone">
  <input class="input-login" type="email" placeholder="Email/login" [formControl]="email" />
  <input class="input-login" type="password" placeholder="Password" [formControl]="password">
  <input class="input-login" type="password" placeholder="Re-enter password" [(ngModel)]="confirmPassword">
  

  <div class="form-group">
    <div class="form-control checkmark-container">
      <div class="form-check">
      <label class="container">I want to receive status updates via text
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    </div>
      <div class="form-check">
      <label class="container">I want to receive status updates via email
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    </div>
    </div>
  </div>
    
  
  <div class="company-terms">By creating an account you are agreeing with the Homeface <a class="terms-link">Terms</a></div>
  
  <input type="submit" value="Create" class="btn btn-light" placeholder="Login" (click)="createUserAccount()" /> 
  
  
  <div class="line-divider" style="margin-top:3.4em;"></div>
  <div class="already-have-account-div">Already have a Homeface account? <a class="sign-in-link" [routerLink]="['/create-account']">Sign In</a></div>
</div>
-->
<app-footer></app-footer> 
