<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/header_investor_create_account.png" class="img-under-nav"/>
        <div class="row">
          <div class="col-12 top-header-title-container">
            <div class="top-header-title"><span class="top-header-title-bold">SELLER</span> <span class="top-header-title-light"> CREATE ACCOUNT</span></div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="col-6 offset-3 d-none d-md-block" style="padding: 4em 0em 0em 0em;">
  <form class="custom-form" [formGroup]="myFormContact">

    <label class="title">Welcome to <span class="title-company">Kuldasac</span></label>
    <input class="input-login" matInput type="text" placeholder="First Name" [formControl]="firstName"
        [ngStyle]="{'border': (firstName.invalid && firstName.touched) ? '.5px solid red' : '.5px solid gray', 'text-transform': 'capitalize'}"/>
    <div class="error-hint" *ngIf="firstName.invalid && firstName.touched">
        Please enter first name
    </div>

    <input class="input-login" matInput type="text" placeholder="Last Name"  [formControl]="lastName"
    [ngStyle]="{'border': (lastName.invalid && lastName.touched) ? '.5px solid red' : '.5px solid gray', 'text-transform': 'capitalize'}"/>
    <div class="error-hint" *ngIf="lastName.invalid && lastName.touched">
        Please enter last name
    </div>

    <input class="input-login" matInput type="text" placeholder="Phone"  [formControl]="phone" maxlength="12"
    [ngStyle]="{'border': (phone.invalid && phone.touched) ? '.5px solid red' : '.5px solid gray'}" (keyup)="onPhoneInput(event)" NumberOnly />
    <div class="error-hint" *ngIf="phone.invalid && phone.touched">
        Phone number needs to be 10 digits
    </div>

    <input class="input-login" matInput type="email" placeholder="Email/login" [formControl]="email" 
    [ngStyle]="{'border': (email.invalid && email.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    <div class="error-hint" *ngIf="email.invalid && email.touched">
        Your email does not look right
    </div>

    <input class="input-login" matInput type="password" placeholder="Password" [formControl]="password"
    [ngStyle]="{'border': (password.invalid && password.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    <div class="error-hint" *ngIf="password.invalid && password.touched">
        Your password doesn't look right
    </div>

    <input class="input-login" matInput type="password" placeholder="Re-Enter Password" [formControl]="confirmPassword"
    [ngStyle]="{'border': (myFormContact.hasError('notSame') && confirmPassword.invalid && confirmPassword.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    <div class="error-hint" *ngIf="myFormContact.hasError('notSame') && confirmPassword.invalid && confirmPassword.touched">
        Passwords need to match
    </div>


<div class="container-checkboxes">
        
  <section class="example-section">
    <mat-checkbox class="example-margin" color="primary"  formControlName="updatesEmail">Receive status updates via email</mat-checkbox>
  </section>
   <section class="example-section">
    <mat-checkbox class="example-margin" color="primary"  formControlName="updatesText">Receive status updates via text</mat-checkbox>
  </section>
</div>
</form>	
	<label class="company-terms">By creating an account you are agreeing with the Kuldasac <span class="terms-link" (click)="onClickTerms()">Terms</span></label>


  <div class="btn-container">
      <button *ngIf="myFormContact.valid" type="submit" value="" class="btn-register" (click)="createAccount()">Create Account</button> 
  
      <div *ngIf="!myFormContact.valid" class="btn-container-default" matTooltip="Please make sure all the information above is filled out and correct" matTooltipPosition="above">
        <button type="button"  [disabled]="true" class="btn-disabled">Create Account</button>
    </div>
  </div>
	
	<div class="line-divider" style="margin-top:3.4em;"></div>
	<div class="already-have-account-div">Already have a Kuldasac account? <a class="sign-in-link" [routerLink]="['/login']">Sign In</a></div>
</div>

<app-footer></app-footer> 
