.input-login {
    border: .5px solid gray;
    border-radius: .5em;
    margin-top: .5em;
    padding: .5em;
    outline-color: red;
    outline: none;
    font-family: 'Nunito', sans-serif;
    color: #0b3aa2;
    width: 100%;
}



input:focus {
    border-color:#0b3aa2;

}

.title{
     font-family: 'Raleway',sans-serif;
     font-size: 1.7em;
}

.title-company{
    color:rgb(68, 197, 242) !important;
}

.company-terms{
    font-size: 1.3em;
    text-align: left;
   /* margin-bottom: 2.5em;*/
}

.terms-link {
    color:rgb(68, 197, 242) !important;
}

.btn {
    font-size: 1.1em;
    border-radius: 1em;
    color:white;
    background-color:rgb(68, 197, 242);
    float: right;
    padding: .3em 1.2em;
    border: none;
    box-shadow: 1px 1px 5px 0px #888888;
    cursor: pointer;
    margin-top: .3em;
}

.login-forgot-label{
    font-family: 'Nunito', sans-serif;
    font-size: .9em;
    margin-top: 1em;
    color: #0b3aa2;
}

.already-have-account-div{
    font-family: 'Nunito', sans-serif;
    font-size: 1.7em;
    margin-top: .5em;
    padding: .7em 0em;
    
}

.line-divider{
    height: 1px;
    border-top: .5px solid lightgray;
    width: 100%;
    margin: .5em auto;
}

.sign-in-link{
    color:rgb(68, 197, 242) !important;
    cursor: pointer;
}

/* COMMON RADIO AND CHECKBOX STYLES  */
input[type=checkbox]{
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}

input[type=checkbox] + label:before{
  height:.7em;
  width:.7em;
  margin-right: .5em;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  border:1px solid #777;
}

input[type=checkbox]:checked + label:before{
  background:white;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */

input[type=checkbox] + label:before{
  border-radius:2px;
}

/*Reactive Forms*/
.custom-form{
}

mat-form-field {
    display: block;
    margin: 0em !important;
}


.mat-accent {
    background-color: #42A948 !important;
}

.ng-valid[required],
.ng-valid.required {
    border-bottom: 5px solid #42A948;
}

ul {
    text-align: left;
}

.ng-valid .mat-form-field-underline {
    background-color: green;
}

.input-login-mat {
    border: .5px solid gray;
    border-radius: .5em;
    padding: .5em;
    outline-color: red;
    outline: none;
    font-family: 'Nunito', sans-serif;
    color: #0b3aa2;
    width: 100%;
    font-size: 1.2em;
}

.mat-focused .placeholder {
    display: none;

}

.placeholder {
    padding-left: 1em;
    padding-top: .5em;
    display: flex;
    align-self: center;
    border: 1px solid black;
}

::ng-deep .mat-form-field-underline {
    display: none;
}
