<div class="container-fluid top-image-container" >
  <div class="row" >
    <div class="col-12">
      <img src="../../../assets/img/banner_create_account.png" class="img-under-nav"/>
    </div>
  </div>
</div>

<h1>
  Create account
</h1>
<div class="line-divider">
</div>

<form class="form-container" [formGroup]="mFormSellerInformation" (ngSubmit)="createAccount()">
  

<div> 
    <mat-error *ngIf="firstName.invalid && firstName.touched">* first name is required</mat-error>
    <input type="text" formControlName="firstName" placeholder="First name..." matInput />
</div>

  <div>
    <mat-error *ngIf="lastName.invalid && lastName.touched">* last name is required</mat-error>
    <input type="text" formControlName="lastName" placeholder="Last name..." matInput />
  </div>

  <div>
    <mat-error *ngIf="phoneNumber.invalid && phoneNumber.touched">* valid phone number is required</mat-error>
      <input type="text" maxlength="12" placeholder="Phone..." formControlName="phoneNumber" matInput NumberOnly (keyup)="onPhoneInput(event)"/>
  </div>

  <div>
    <mat-error *ngIf="email.invalid && email.touched">* valid email is required</mat-error>
      <input type="email"  formControlName="email" placeholder="Email/login......" matInput />
  </div>

 
    <div>
      <mat-error *ngIf="password.invalid && password.touched">* enter a valid password (6 characters or more)</mat-error>
      <input matInput type="password" formControlName="password" placeholder="Password...">
    </div>

    <div>
      <mat-error *ngIf="confirmPassword.invalid && confirmPassword.touched">* passwords must be valid and match</mat-error>
      <input matInput type="password"  formControlName="confirmPassword" placeholder="Re-enter password...">
    </div>

   <section>
    Receive status updates via text
   </section>

   <section style="margin-top: 11.4px">
    Receive status updates via email
   </section>

    <label>By creating an account, you are agreeing with the Kuldasac <span style="color: #44C6F3; cursor: pointer;text-decoration: underline;">Terms</span></label>

    
    <button type="submit"  [disabled]="mFormSellerInformation.invalid">Create Account</button>

</form>

<div class="line-divider" style="margin-top: 55px; margin-bottom: 0;"></div>


<h2>Already have an account?</h2>
<h3 (click)="clickSignIn()">Sign in</h3>
<app-footer></app-footer>


