<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/header_time_frame.jpg" class="img-under-nav"/>
        <div class="row">
          <div class="col-12 top-header-title-container">
            <div class="top-header-title"><span class="top-header-title-bold">TIME </span> <span class="top-header-title-light">FRAME</span></div>
          </div>
        </div>
        <div class="row top-header-time-frame-icons-container d-none d-sm-block">
            <div class="col-8 offset-2">
            <div class="row">
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon nav-circle-icon" [routerLink]="['../home']" src="../../../assets/img/ic_time_frame_magnify_blue.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon nav-circle-icon" [routerLink]="['../verify-info-page']" src="../../../assets/img/ic_time_frame_question_blue.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_time_blue.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_camera_grey.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_check_mark_grey.png" />
                </div>
                </div>
            </div>
          </div>

          <div class="row top-header-time-frame-icons-container d-flex d-sm-none">
              <div class="col-10 offset-1">
                <div class="row">
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_magnify_blue.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_question_blue.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_time_blue.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_camera_grey.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_check_mark_grey.png" />
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row" style="margin-top: 5em;">
    <div class="col-6 offset-3 time-frame-description-container-left">
        Select the option that best describes your home.
    </div>
  </div>

    <div class="row" style="margin-bottom: 1em" >
      <div class="col-6 offset-3">
          <div class="form-group">
          <div class="form-control checkmark-container">
              <div class="form-check">
              <label class="container">Property is vacant
              <input type="radio" value="vacant" name="home.timeframeInfo.homeDescription" [(ngModel)]="home.timeframeInfo.homeDescription">
              <span class="checkmark"></span>
            </label>
            </div>
              <div class="form-check">
              <label class="container">Property is owner occupied
              <input type="radio" value="ownerOccupied" name="home.timeframeInfo.homeDescription" [(ngModel)]="home.timeframeInfo.homeDescription">
              <span class="checkmark"></span>
            </label>
            </div>
            <div class="form-check">
              <label class="container">Property is tenant occupied (rented out)
              <input type="radio" value="tenantOccupied" name="home.timeframeInfo.homeDescription" [(ngModel)]="home.timeframeInfo.homeDescription">
              <span class="checkmark"></span>
            </label>
            </div>
            </div>
          </div>
      </div>
    </div>


  <div class="row">
    <div class="col-6 offset-3 time-frame-description-container-left">
        Is this property currently listed with a realtor?
    </div>
  </div>
    <div class="row" style="margin-bottom: 1em" >
      <div class="col-6 offset-3">
          <div class="form-group">
          <div class="form-control checkmark-container">
              <div class="form-check">
              <label class="container">Yes
              <input type="radio" value="yes" name="listedWithRealtor" [(ngModel)]="listedWithRealtor" (click)="isListedWithRealtor()">
              <span class="checkmark"></span>
            </label>
            </div>
              <div class="form-check">
              <label class="container">No
              <input type="radio" value="no" name="listedWithRealtor" [(ngModel)]="listedWithRealtor" (click)="isNotListedWithRealtor()">
              <span class="checkmark"></span>
            </label>
            </div>
            </div>
          </div>
      </div>
    </div>

    <div class="row" *ngIf="realtorProperty">
      <div class="col-6 offset-3 time-frame-description-container-left">
          Do you understand that you will be required to pay any and all fees that you are contractually obligated to pay at the time of closing to your realtor or broker?
      </div>
    </div>
    <div class="row" style="margin-bottom: 1em" *ngIf="realtorProperty">
      <div class="col-6 offset-3">
          <div class="form-group">
          <div class="form-control checkmark-container">
              <div class="form-check">
              <label class="container">Yes
              <input type="radio" value="yes" name="payTimeOfClosing" [(ngModel)]="payTimeOfClosing" >
              <span class="checkmark"></span>
            </label>
            </div>
              <div class="form-check">
              <label class="container">No
              <input type="radio" value="no" name="payTimeOfClosing" [(ngModel)]="payTimeOfClosing">
              <span class="checkmark"></span>
            </label>
            </div>
            </div>
          </div>
      </div>
    </div>


  <div class="row">
    <div class="col-6 offset-3 time-frame-description-container-left">
        Pick a prefered <label class="primary-label">closing date</label>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12" style="text-align: center">
      <!-- TODO -->
      <ngb-datepicker #dp [(ngModel)]="model" (select)="onDateSelection($event)" (navigate)="date = $event.next" [displayMonths]="2"></ngb-datepicker> 
    </div>
  </div>
  <ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
</div>

<div class="container-fluid">
  <div class="row" *ngIf="propertyVacant != 2">
    <div class="col-6 offset-3 time-frame-description-container-left">
        Can you be out of your home by closing?
    </div>
  </div>
  <div class="row" style="margin-bottom: 1em" *ngIf="propertyVacant != 2">
    <div class="col-6 offset-3">
          <div class="form-group">
        <div class="form-control checkmark-container">
            <div class="form-check">
            <label class="container">Yes
            <input type="radio" value="yes" name="isOutByClosing" [(ngModel)]="isOutByClosing">
            <span class="checkmark"></span>
          </label>
          </div>
            <div class="form-check">
            <label class="container">No
            <input type="radio" value="no" name="isOutByClosing" [(ngModel)]="isOutByClosing">
            <span class="checkmark"></span>
          </label>
          </div>
          </div>
        </div>
    </div>
  </div>
  </div>
  <div *ngIf="isOutByClosing == 'no' && propertyVacant != 2" class="row" style="margin-bottom: -.2em">
    <div class="col-6 offset-3 time-frame-description-container-left">
        Please select a preferred move out date
    </div>
  </div>
   
    <div *ngIf="isOutByClosing == 'no' && propertyVacant != 2" class="row">
      <div class="col-12" style="text-align: center">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [displayMonths]="2"></ngb-datepicker>
      </div>
    </div>

<div *ngIf="isOutByClosing == 'no' && propertyVacant != 2" class="row" style="margin-bottom: -.2em">
    <div class="col-6 offset-3 time-frame-description-container-left">
        Please explain why
    </div>
  </div>
<div *ngIf="isOutByClosing == 'no' && propertyVacant != 2" class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3">
        <textarea class="form-control  input-edit-property" placeholder="explanation..."></textarea>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="margin-bottom: -.2em">
    <div class="col-6 offset-3 time-frame-description-container-left">
        When would you like to select the right offer for you?
    </div>
  </div>

   <div class="row">
      <div class="col-12" style="text-align: center">
          <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [displayMonths]="2"></ngb-datepicker> 
      </div>
    </div>

</div>

  <div class="row" *ngIf="propertyVacant == 2">
      <div class="col-6 offset-3 time-frame-description-container-left">
          Is your home managed by a property management company?
      </div>
  </div>
  <div class="row" style="margin-bottom: 1em" *ngIf="propertyVacant == 2">
      <div class="col-6 offset-3">
          <div class="form-group">
          <div class="form-control checkmark-container">
              <div class="form-check">
              <label class="container">Yes, I have a property manager in place
              <input type="radio" value="yes" name="homeManagedByCompany" [(ngModel)]="homeManagedByCompany">
              <span class="checkmark"></span>
            </label>
            </div>
              <div class="form-check">
              <label class="container">No, I manage the rental myself
              <input type="radio" value="no" name="homeManagedByCompany" [(ngModel)]="homeManagedByCompany">
              <span class="checkmark"></span>
            </label>
            </div>
            </div>
          </div>
      </div>
    </div>



    <div class="row" *ngIf="homeManagedByCompany == 'yes' && propertyVacant == 2">
      <div class="col-6 offset-3 time-frame-description-container-left">
          When does your agreement with the property manager expire?
      </div>
    </div>
    <div class="row" *ngIf="homeManagedByCompany == 'yes' && propertyVacant == 2">
      <div class="col-12 datepicker-container">
        <ngb-datepicker id="datePropertyManagementAgreementExpiration" [displayMonths]="2" (navigate)="date = $event.next"></ngb-datepicker>
      </div>
    </div>
    
    <div class="row" *ngIf="homeManagedByCompany == 'yes' && propertyVacant == 2">
      <div class="col-6 offset-3 time-frame-description-container-left">
          Upload your property management agreement here.
      </div>
    </div>
    <div class="row" *ngIf="homeManagedByCompany == 'yes' && propertyVacant == 2">
      <div class="col-6 offset-3">
        <button class="btn-choose-file">Choose File</button>
      </div>
    </div>
  
    <div class="row" *ngIf="homeManagedByCompany == 'no' && propertyVacant == 2">
      <div class="col-6 offset-3 time-frame-description-container-left">
          When does your rental agreement expire?
      </div>
    </div>
    <div class="row" *ngIf="homeManagedByCompany == 'no' && propertyVacant == 2">
      <div class="col-12 datepicker-container">
        <ngb-datepicker id="dateRentalAgreementExpiration" [displayMonths]="2" (navigate)="date = $event.next"></ngb-datepicker>
      </div>
    </div>

    <div class="row" *ngIf="homeManagedByCompany == 'no' && propertyVacant == 2">
      <div class="col-6 offset-3 time-frame-description-container-left">
          Upload your rental agreement here.
      </div>
    </div>

    <div class="row" *ngIf="homeManagedByCompany == 'no' && propertyVacant == 2">
      <div class="col-6 offset-3">
        <button class="btn-choose-file">Choose File</button>
      </div>
    </div>
    
    <div class="row" *ngIf="propertyVacant == 2 && (homeManagedByCompany == 'yes' || homeManagedByCompany == 'no')">
      <div class="col-6 offset-3 time-frame-description-container-left">
          What amount is your tenant contractually obligated to pay each month?
      </div>
    </div>

    <div class="row" *ngIf="propertyVacant == 2 && (homeManagedByCompany == 'yes' || homeManagedByCompany == 'no')">
      <div class="col-6 offset-3">
        <input class="money-input" placeholder="$$$" />
      </div>
    </div>


    <div class="row" *ngIf="propertyVacant == 2 && (homeManagedByCompany == 'yes' || homeManagedByCompany == 'no')">
        <div class="col-6 offset-3 time-frame-description-container-left">
            Do you have a security deposit?
        </div>
    </div>
    <div class="row" *ngIf="propertyVacant == 2 && (homeManagedByCompany == 'yes' || homeManagedByCompany == 'no')">
      <div class="col-6 offset-3">
          <div class="form-group">
          <div class="form-control checkmark-container">
              <div class="form-check">
              <label class="container">Yes
              <input type="radio" value="yes" name="securityCleaningDeposit" [(ngModel)]="securityCleaningDeposit">
              <span class="checkmark"></span>
            </label>
            </div>
              <div class="form-check">
              <label class="container">No
              <input type="radio" value="no" name="securityCleaningDeposit" [(ngModel)]="securityCleaningDeposit">
              <span class="checkmark"></span>
            </label>
            </div>
            </div>
          </div>
      </div>
    </div>

    <div class="row" *ngIf="propertyVacant == 2 && (homeManagedByCompany == 'yes' || homeManagedByCompany == 'no')">
      <div class="col-6 offset-3 time-frame-description-container-left">
          Deposit Amount?
      </div>
    </div>

    <div class="row" *ngIf="propertyVacant == 2 && (homeManagedByCompany == 'yes' || homeManagedByCompany == 'no')">
      <div class="col-6 offset-3">
        <input class="money-input" placeholder="$$$" />
      </div>
    </div>

<div class="row">
  <div class="col-6 offset-3" style="padding:0em;">
      <div class="btn-container">
          <button class="btn-next" (click)="onClickNext()">Next</button>
      </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12 bottom-page-container" style="background-color: #f1f1f1">
    <div class="container-fluid">
      <div class="row">
         <img src="../../../assets/img/home_slack_icon.png" class="img-fluid img-logo" /> 
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 address">
          HomeSupervisor@homeslack.com<br>
          Copyright 2019 Homeslack 292 Galena Park Blvd, Draper, UT 84020
        </div>
      </div>
    </div>
  </div>
</div>
