<div class="page-container">
    <div class="property-columns">
        <div class="column-label">
            Under Contract
        </div>
        <div class="column-label">
            Offers Made
        </div>
        <div class="column-label">
            Watch List
        </div>
        <div class="column-under-contract">
            
            <div class="container-listings">
                <!-- <app-listing-item [priority]="priority1"></app-listing-item>
                <app-listing-item></app-listing-item>
                <app-listing-item></app-listing-item> -->
            </div>
        </div>
        <div class="column-offers-made">
            
            <div class="container-listings">
                <!-- <app-listing-item></app-listing-item>
                <app-listing-item></app-listing-item>
                <app-listing-item></app-listing-item> -->
            </div>
        </div>
        <div class="column-property-watch">
            
            <div class="container-listings">
                <div *ngFor="let listing of mWatchList">
                    <app-listing-item [listing]="listing" listingType="0" (click)="onPropertyClick(listing)"></app-listing-item>
                </div>
                <!-- 
                <app-listing-item></app-listing-item>
                <app-listing-item></app-listing-item> -->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

