
@font-face {
    font-family: 'trueno_bold';
    src: url("../../../assets/fonts/trueno/TruenoBd.otf");
}

@font-face {
    font-family: 'trueno_regular';
    src: url("../../../assets/fonts/trueno/TruenoRg.otf");
}

@font-face {
    font-family: 'trueno_light';
    src: url("../../../assets/fonts/trueno/TruenoLt.otf");
}

.container-listings{
    height: 100vh;
    overflow-y: scroll;
}

.banner-info-container{
    position: absolute; 
    left: 0%; 
    right: 0%; 
    top: 0%;
    width: 100%;
    text-align: center;
}

.icon-profile{
    width: 87px - (87px * .2);
    height: 87px - (87px * .2);
    margin-top: 48px - (48px * .2);
}

.investor-name{
  
    height: 63px - (63px * .2);
    font-weight: bold;
    font-size: 52px - (52px * .2);
    font-family: Century Gothic;
    letter-spacing: 5.2px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 10px - (10px * .2);
}

.investor-company{
    height: 34px - (34px * .2);
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 28px - (28px * .2);
    letter-spacing: 2.8px;
    color: #FFFFFF;
    opacity: 1;
}

.btn-browse-listings{
    position: absolute;
    bottom: -(33px - (33px * .2));
    left: 0%;
    right: 0%;
    margin: 0 auto;
    cursor: pointer;

    width: 303px - (303px * .2);
    height: 66px - (66px * .2);
    background: #44C6F3 0% 0% no-repeat padding-box;
    box-shadow: (3px - (3px * .2)) (3px - (3px * .2)) (4px - (4px * .2)) #00000094;
    border-radius: 16px - (16px * .2);
    opacity: 1;
    border: none;
    outline: none;
}

.btn-browse-listings-label{
    text-align: center;
    font-weight: bold;
    font-size: 25px - (25px * .2);
    font-family: Century Gothic;
    letter-spacing: 2.5px - (2.5px * .2);
    color: #FFFFFF;
    opacity: 1
}

.property-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 88px - (88px * .2);
    padding: 0 3.5%;
    height: 120vh;
}

.column-label{
    font-weight: bold;
    font-family: 'trueno_bold', sans-serif;
    font-size: 50px - (50px * .2);
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 25px - (25px * .2);
}

.column-under-contract{
    
}

.column-offers-made{
    border-left: 1px solid #44C6F3;
    border-right: 1px solid #44C6F3;
}

.column-property-watch{
   
}

::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #44C6F3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
  





