.time-frame-description-container{
    border-radius: .5em;
    font-size: 1.8em;
    font-weight: bold;
    color: gray;
    padding: .5em 1em;
    margin-top: .5em;
    text-align: center;
}

.time-frame-description-container-left{
    border-radius: .5em;
    font-size: 1.2em;
    font-weight: bold;
    color: gray;
    padding: .5em 1em;
    margin-top: .5em;
}

.update-info-container{
    margin: .5em 0em;
    background: #ededed;
    width: 100%;
    border-radius: .4em;
    border-color: #ededed;
    padding: .5em;
    font-weight: 300;
    font-size: 1.2em;
    text-align: left;
}

.primary-label{
  color: rgb(68, 197, 242);
}

.view-more{
    float: right;
    font-size: .5em;
    border-bottom: .1em solid gray;
    margin-top: 1em;
}

.label{
    color: gray;
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    padding:0em;
    font-size: .9em;
}

.question-container{
    background-color: #f2f2f2;
    border-radius: .5em;
    padding: 1em;
}

.form-check-label{
    font-size:1.2em;
    color:gray;
    margin-left: 1.5em;
}

textarea{
  resize: none;
}

::placeholder{
    font-size: 1.1em;
    color: lightgray;
    margin-left: 1em;
}

.btn-container{
    width: 100%;
    text-align: end;
}

.btn-next{
    margin-top: 1em;
    color: white;
    background-color: rgb(68, 197, 242);
    border: none;
    border-radius: 1em;
    cursor: pointer;
    padding: .5em 1.5em;
    outline: none;
    box-shadow: 2px 2px 5px 0px #888;
}

.btn-yes-no{
    padding: .5em 0em;
    text-align: center;
    font-family: Century Gothic, sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.2em;
    color:black;    
}

.btn-yes-no:hover{
    cursor: pointer;
    background-color: rgb(68, 197, 242);
    color: white;
    border-radius:.5em;
}

.btn-yes-no-clicked{
  background-color: rgb(68, 197, 242);
  color: white;
  border-radius:.5em;
}

.input-edit-property{
    cursor: pointer;
}

.btn-choose-file{
    background-color: rgb(68, 197, 242);
    color: white;
    outline: none;
    border-radius: .5em;
    border: none;
    font-size: 1.2em;
    padding: .75em 3em;
}

.money-input {
    padding: .5em 1em;
    border: .5px solid gray;
    border-radius: .5em;
}

/*-----------Calendar Date Picker------------------*/

.custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
      font-weight: bold;
}

.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: #43C5E4;
  color: white;
}
.custom-day.faded {
  background-color: rgba(68, 197, 242, .5);
}

.custom-day.text-muted{
    font-weight: 300;
    background-color: white; 
}


.datepicker-container{
    text-align: center;
}

.pending-step-highlight{
    /* border: 3px solid rgba(68, 197, 242, .9); */
    background: rgba(68, 197, 242, .9);
    color: white;
}

.calendar-step-highlight{
    border: 3px solid rgba(68, 197, 242, .9);
}

.input-initials, .input-amount{
    margin-left: 0em;
    font-family: Century Gothic, sans-serif;
    font-weight: 400;
    
}

.input-initials{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Pacifico', cursive;
    width: 4em;
    font-size: .8em;
    height: 2.5em;
}

.input-amount{
    width:10em;
}


.label-remove-items{
    font-family: Century Gothic, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.1em;
}

.label-initials{
    font-family: Century Gothic, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.1em;
}

.label-amount{
    font-family: Century Gothic, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.1em;
    margin: 0em .8em 0em 1.6em;
}

.input-initials-2{
    margin-left: 1em;
    font-family: Century Gothic, sans-serif;
    font-weight: 400;
    width: 4em;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}