<div class="page-container">
    <div style="position: relative; width: 100%">
        <img src="../../../assets/img/investor_profile_header_1.png" />
        <div class="banner-info-container">
            <div class="investor-name">
                VIEW PROPERTIES
            </div>
        </div>
        <div class="container-body">
            <div class="container-filters">
                <div class="filter-header">
                    <div class="filter-label">Filters</div>
                    <div class="filter-reset" (click)="onReset()">Reset All</div>
                </div>
               
                <div class="container-living-area">
                    <div class="label-filter-header">Living Area</div>
                    <mat-slider color="primary"  min="0" max="5000" style="cursor: pointer;" [(ngModel)] = "sliderLivingArea"></mat-slider>
                    <div class="slider-caption">Minimum Living Area Size: {{ sliderLivingArea }} sqft</div>
                </div>
                <div class="container-bedrooms">
                    <div class="label-filter-header" style="margin-bottom: .5em">Bedrooms</div>
                    <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [(ngModel)]="filterBedCount">
                        
                        <mat-radio-button color="primary" class="example-radio-button" [value]="1">
                            1 Bed
                        </mat-radio-button>
                        <br/>
                        <mat-radio-button color="primary" class="example-radio-button" [value]="2">
                            2 Bed
                        </mat-radio-button>
                        <br/>
                        <mat-radio-button color="primary" class="example-radio-button" [value]="3">
                            3 Bed
                        </mat-radio-button>
                        <br/>
                        <mat-radio-button color="primary" class="example-radio-button" [value]="4">
                            4+ Bed
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="container-bathrooms">
                    <div class="label-filter-header" style="margin-bottom: .5em">Bathrooms</div>
                    <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [(ngModel)]="filterBathCount">
                        
                        <mat-radio-button color="primary" class="example-radio-button" [value]="1">
                            1 Bath
                        </mat-radio-button>
                        <br/>
                        <mat-radio-button color="primary" class="example-radio-button" [value]="2">
                            2 Bath
                        </mat-radio-button>
                        <br/>
                        <mat-radio-button color="primary" class="example-radio-button" [value]="3">
                            3 Bath
                        </mat-radio-button>
                        <br/>
                        <mat-radio-button color="primary" class="example-radio-button" [value]="4">
                            4+ Bath
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="container-bathrooms">
                    <div class="label-filter-header" style="margin-bottom: .5em">Property Type</div>
                    <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [(ngModel)]="filterPropertyType">
                        
                        <mat-radio-button color="primary" class="example-radio-button" [value]="1">
                            Single Family Residential
                        </mat-radio-button>
                        <br/>
                        <mat-radio-button color="primary" class="example-radio-button" [value]="2">
                            Townhouse
                        </mat-radio-button>
                        <br/>
                        <mat-radio-button color="primary" class="example-radio-button" [value]="3">
                            Condominium
                        </mat-radio-button>
                        <br/>
                        <mat-radio-button color="primary" class="example-radio-button" [value]="4">
                            Manufactured Home
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="container-lot-size" style="border-bottom: none;">
                    <div class="label-filter-header">Lot Size</div>
                    <mat-slider color="primary" min="0" max="5000" style="cursor: pointer;" [(ngModel)]="sliderLotSize"></mat-slider>
                    <div class="slider-caption">Minimum Lot Size: {{sliderLotSize}} Acres</div>
                </div>
            </div>
            <div class="container-bids">
                <div *ngFor="let listing of mListings">
                    <property-item [listing]="listing" *ngIf="getFilterOutcome(listing)"></property-item>
                </div>
            </div>
        </div>

        
    </div>
</div>
<app-footer></app-footer>