<div class="page-container">
    <div style="position: relative; width: 100%">
        <img src="../../../assets/img/investor_profile_header_1.png" />
        <div class="banner-info-container">

            <div class="investor-name">
                VIEW PROPERTIES
            </div>
        </div>
        <div class="container-body">
            <div class="container-filters">
                <div class="filter-header">
                    <div class="filter-label">Filters</div>
                    <div class="filter-reset">Reset All</div>
                </div>
                <div class="container-lot-size">
                    <div class="label-filter-header">Lot Size</div>
                </div>
                <div class="container-living-area">
                    <div class="label-filter-header">Living Area</div>
                </div>
                <div class="container-bedrooms">
                    <div class="label-filter-header">Bedrooms</div>
                </div>
                <div class="container-bathrooms">
                    <div class="label-filter-header">Bathrooms</div>
                </div>
            </div>
            <div class="container-bids">
                
            </div>
        </div>

        
    </div>
</div>
<app-footer></app-footer>