<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/header_investor_create_account.png" class="img-under-nav"/>
        <div class="row">
          <div class="col-12 top-header-title-container">
            <div class="top-header-title"><span class="top-header-title-bold">CREATE</span> <span class="top-header-title-light"> ACCOUNT</span></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="label-welcome-to-homeslack">
    <span class="welcome-to">Welcome to</span><span class="homeslack"> Homeslack</span> 
</div>
<div class="line-divider">
</div>

<form class="form-container" [formGroup]="mFormInvestorInformation" [hidden]="success" (ngSubmit)="submitHandler()">
    <mat-form-field appearance="outline">
      <mat-label translate="ea6.design.menu.header.search">Company Name</mat-label>
      <input class="input-create-account" [formControl]="companyName" matInput placeholder="Company Name" />
      <mat-error *ngIf="companyName.invalid && companyName.touched">Please enter company name</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input class="input-create-account" [formControl]="firstName" matInput placeholder="first name" />
        <mat-error *ngIf="firstName.invalid && firstName.touched">Please enter first name</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input class="input-create-account" [formControl]="lastName" matInput placeholder="last name" />
        <mat-error *ngIf="lastName.invalid && lastName.touched">Please enter last name</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input class="input-create-account" [formControl]="phoneNumber" matInput placeholder="phone number" />
        <mat-error *ngIf="phoneNumber.invalid && phoneNumber.touched">Please enter your phone number</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input class="input-create-account" [formControl]="email" matInput placeholder="email" />
        <mat-error *ngIf="email.invalid && email.touched">Please enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Company Address</mat-label>
        <input class="input-create-account" [formControl]="companyAddress" matInput placeholder="companyAddress" />
        <mat-error *ngIf="companyAddress.invalid && companyAddress.touched">Please enter a company address</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Suite</mat-label>
        <input class="input-create-account" [formControl]="suite" matInput placeholder="suite" />
        <mat-error *ngIf="suite.invalid && suite.touched">Please enter a valid suite</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input class="input-create-account" [formControl]="city" matInput placeholder="city" />
        <mat-error *ngIf="city.invalid && city.touched">Please enter a valid city</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input class="input-create-account" [formControl]="zipCode" matInput placeholder="zipCode" />
        <mat-error *ngIf="zipCode.invalid && zipCode.touched">Please enter a valid xip code</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  [formControl]="confirmPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  
      <button [disabled]="mFormInvestorInformation.invalid">Create Account</button>

</form>

<!-- <form [formGroup]="mFormInvestorInformation" [hidden]="success" (ngSubmit)="submitHandler()">
   
    <div class="error-hint" *ngIf="companyName.invalid && companyName.touched">
        Please enter company name
    </div>
    <input class="input-create-account" matInput type="text" placeholder="Company Name" [formControl]="companyName"
        [ngStyle]="{'border': (companyName.invalid && companyName.touched) ? '.5px solid red' : '.5px solid gray', 'text-transform': 'capitalize'}"/>
   
   
    <div class="error-hint" *ngIf="firstName.invalid && firstName.touched">
        Please enter first name
    </div>
    <input class="input-create-account" matInput type="text" placeholder="First Name" [formControl]="firstName"
        [ngStyle]="{'border': (firstName.invalid && firstName.touched) ? '.5px solid red' : '.5px solid gray', 'text-transform': 'capitalize'}"/>
    

    <div class="error-hint" *ngIf="lastName.invalid && lastName.touched">
        Please enter last name
    </div>
    <input class="input-create-account" matInput type="text" placeholder="Last Name"  [formControl]="lastName"
    [ngStyle]="{'border': (lastName.invalid && lastName.touched) ? '.5px solid red' : '.5px solid gray', 'text-transform': 'capitalize'}"/>
    

    <div class="error-hint" *ngIf="phoneNumber.invalid && phoneNumber.touched">
        Phone number needs to be 10 numbers
    </div>
    <input class="input-create-account" matInput oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" placeholder="Phone Number"  [formControl]="phoneNumber" maxlength="10"
    [ngStyle]="{'border': (phoneNumber.invalid && phoneNumber.touched) ? '.5px solid red' : '.5px solid gray'}" />
    

    <div class="error-hint" *ngIf="email.invalid && email.touched">
        Your email does not look right
    </div>
    <input class="input-create-account" matInput type="email" placeholder="email" [formControl]="email" 
    [ngStyle]="{'border': (email.invalid && email.touched) ? '.5px solid red' : '.5px solid gray'}"/>


    <div class="error-hint" *ngIf="companyType.invalid && companyType.touched">
        Your company type doesn't look right
    </div>
    <input class="input-create-account" matInput type="text" placeholder="company type" [formControl]="companyType"
    [ngStyle]="{'border': (companyType.invalid && companyType.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    

    <div class="error-hint" *ngIf="companyAddress.invalid && companyAddress.touched">
        Please enter company address
    </div>
    <input class="input-create-account" matInput type="text" placeholder="company address" [formControl]="companyAddress"
        [ngStyle]="{'border': (companyAddress.invalid && companyAddress.touched) ? '.5px solid red' : '.5px solid gray', 'text-transform': 'capitalize'}"/>
    

    <div class="error-hint" *ngIf="suite.invalid && suite.touched">
        Your suite doesn't look right
    </div>
    <input class="input-create-account" matInput type="text" placeholder="suite" [formControl]="suite"
    [ngStyle]="{'border': (suite.invalid && suite.touched) ? '.5px solid red' : '.5px solid gray'}"/>
   

    <div class="error-hint" *ngIf="city.invalid && city.touched">
        Your city doesn't look right
    </div>
    <input class="input-create-account" matInput type="text" placeholder="city" [formControl]="city"
    [ngStyle]="{'border': (city.invalid && city.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    

    <div class="error-hint" *ngIf="zipCode.invalid && zipCode.touched">
        Your zip code doesn't look right
    </div>
    <input class="input-create-account" matInput type="text" placeholder="zip code" [formControl]="zipCode"
    [ngStyle]="{'border': (zipCode.invalid && zipCode.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    

    <div class="error-hint" *ngIf="ein.invalid && ein.touched">
        Your ein doesn't look right
    </div>
    <input class="input-create-account" matInput type="number" placeholder="ein" [formControl]="ein"
    [ngStyle]="{'border': (ein.invalid && ein.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    

    <div class="error-hint" *ngIf="socialSecurity.invalid && socialSecurity.touched">
        Your social security doesn't look right
    </div>
    <input class="input-create-account" matInput type="text" placeholder="social security" [formControl]="socialSecurity"
    [ngStyle]="{'border': (socialSecurity.invalid && socialSecurity.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    

    <div class="error-hint" *ngIf="companyType.invalid && companyType.touched">
        Please enter company type
    </div>
    <input class="input-create-account" matInput type="text" placeholder="company type" [formControl]="companyType"
        [ngStyle]="{'border': (companyType.invalid && companyType.touched) ? '.5px solid red' : '.5px solid gray', 'text-transform': 'capitalize'}"/>
    

    <div class="error-hint" *ngIf="password.invalid && password.touched">
        Your password doesn't look right
    </div>
    <input class="input-create-account" matInput type="password" placeholder="Password" [formControl]="password"
    [ngStyle]="{'border': (password.invalid && password.touched) ? '.5px solid red' : '.5px solid gray'}"/>
    

    <div class="error-hint" *ngIf="mFormInvestorInformation.hasError('notSame') && confirmPassword.invalid && confirmPassword.touched">
        Passwords need to match
    </div>
    <input class="input-create-account" matInput type="password" placeholder="Re-Enter Password" [formControl]="confirmPassword"
    [ngStyle]="{'border': (mFormInvestorInformation.hasError('notSame') && confirmPassword.invalid && confirmPassword.touched) ? '.5px solid red' : '.5px solid gray'}"/>
  

  
 
  
    <button [disabled]="mFormInvestorInformation.invalid">Create Account</button>
  
  </form> -->

     <!-- <input formControlName="age">
    <span *ngIf="age.errors?.min && age.touched">
        {{ age.errors.min.actual }} is young to use this app kiddo!
    </span>
    <span *ngIf="age.errors?.max && age.touched">
        {{ age.errors.max.actual }} is too you old to use this app gramps!
    </span> -->