<nav class="navbar">
    <div class="container-left-tabs">
        <img class="logo" src="../../../assets/img/home_slack_logo.png"  (click)="this.mRouter.navigateByUrl('home')" alt="logo"/>
    </div>
    <div class="container-center-space"></div>
    <div class="container-right-tabs">
        <div [ngClass]="this.mRouter.url == '/clinician' ? 'nav-link-selected' : 'nav-link'" (click)="this.mRouter.navigateByUrl('clinician')">Directory</div>
        <div [ngClass]="this.mRouter.url == '/clinician-portal' ? 'nav-link-selected' : 'nav-link'" (click)="this.mRouter.navigateByUrl('clinician-portal')">Why</div>
    </div>
</nav>