.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px - (96px * .2);
    background: #FFFFFF;
    box-shadow: 0px 4px 6px #00000029;
    opacity: 1;
}

.logo{
    cursor: pointer;
    width: 221px - (221px * .2);
    height: 61px - (61px * .2);
}

.container-left-tabs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.container-right-tabs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: .5;
}

.container-center-space{
    flex-grow: 8;
}

.nav-link,.nav-link-selected {
    font-family: 'Roboto';
    font-size: 21px - (21px * .2);
    letter-spacing: 0px;
    opacity: 1;
    margin-left: 30px;
}

.nav-link{
    font-weight: 400;
    color: #556470;
}

.nav-link-selected{  
    font-weight: 500;
    color: #307FE2;
    opacity: 1;
}


.nav-link:hover{
    opacity: .8;
    cursor: pointer;
 }
 
 .icon-help, .icon-account {
    width: 48px - (48px * .2);
    height: 48px - (48px * .2);
    opacity: 1;
    cursor: pointer;
}

.icon-help{
    margin-right: 61px - (61px * .2);
}

.icon-account{
    margin-right: 61px - (61px * .2);
}

.label-doctor{
    margin-right: 19px - (19px * .2);
    font-family: 'Roboto';
    font-size: 23px - (23px * .2);
    font-weight: 400;
    letter-spacing: 0px;
    color: #556470;
    opacity: 1;
}

.nav-end-items{
    display: flex;
    align-items: center;
}