<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/img_banners/2.jpg" class="img-under-nav"/>
        <div class="row">
          <div class="col-12 top-header-title-container">
            <div class="top-header-title"><span class="top-header-title-bold">VERIFY</span> <span class="top-header-title-light"> DETAILS</span></div>
          </div>

          <div class="row top-header-time-frame-icons-container d-none d-sm-block">
            <div class="col-8 offset-2">
            <div class="row">
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon nav-circle-icon" matTooltipPosition="above" matTooltip="Need to search for your home again? Click to go back and search again" [routerLink]="['../home']" src="../../../assets/img/ic_time_frame_magnify_blue.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" matTooltipPosition="above" matTooltip="Lets fill out your home information below" src="../../../assets/img/ic_time_frame_question_blue.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_time_grey.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_camera_grey.png" />
                </div>
                <div class="col top-header-time-icon-column">
                    <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_check_mark_grey.png" />
                </div>
                </div>
            </div>
          </div>

          <div class="row top-header-time-frame-icons-container d-flex d-sm-none">
              <div class="col-10 offset-1">
                <div class="row">
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon nav-circle-icon" matTooltipPosition="above" matTooltip="Need to search for your home again? Click to go back and search again" [routerLink]="['../home']" src="../../../assets/img/ic_time_frame_magnify_blue.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" matTooltipPosition="above" matTooltip="Lets fill out your home information below" src="../../../assets/img/ic_time_frame_question_blue.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_time_grey.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_camera_grey.png" />
                  </div>
                  <div class="col top-header-time-icon-column">
                      <img class="top-header-time-icon" src="../../../assets/img/ic_time_frame_check_mark_grey.png" />
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="verification-page-title">
                Let's Verify that Our Information <span style="color: rgb(68, 197, 242);">is Correct!</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 map-container" style="margin-top: 0em;">
        <agm-map [latitude]="lat" [longitude]="lng"  [scrollwheel]="false" [zoom]="zoom" [styles]="mapStyle" >
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        </div>
    </div>

    <div class="row">
        <div class="col-4 offset-1">
            <div class="information-title">
                    Property Details:
            </div>
            <div class="information-subtitle">Information Incorrect? Click<span class="question-mark-circle rounded-circle" style="vertical-align: middle; font-size: 1em; cursor: default;">?</span> to edit</div>
        </div>
        <div class="col-6" style="padding: 0em;  margin-top: 6em;">
            <div class="street-address">
                <span style="color: #7E7E7E;">{{sellerProperty.address.street}}</span>
            </div>
            <div class="street-address">
                    {{sellerProperty.address.city}},
                    &nbsp;{{sellerProperty.address.state}}&nbsp; {{sellerProperty.address.zip_code}}
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 1em;">
        <div class="col-10 offset-1"  style="border-top: 1px solid #7E7E7E;">
            <!-- First Row -->
            <div class="row d-none d-md-flex" style="margin-top: 1em">
                <div class="col-4">
                    <div class="row" (click)="editModeTotalLivingArea = !editModeTotalLivingArea">
                        <div class="col-3 icon-container d-flex justify-content-center"
                        ><img src="../../../assets/img/total_living_area.png" class="icon-label img-fluid" placement="top"  matTooltip="{{totalLivingAreaHint}}"/></div>
                        <div class="col-9">
                           <div class="label-property">
                                Total Living Area <span class="question-mark-circle rounded-circle">?</span>
                            </div>
                            <div *ngIf="!editModeTotalLivingArea" class="label-property-result">{{sellerProperty.living_square_feet}} Sqft</div>
                            <div *ngIf="editModeTotalLivingArea" class="label-hint"> Livable Sqft # in Home?</div>
                            <input *ngIf="editModeTotalLivingArea" class="input-edit-property"   type="text" maxlength="6" inputmode="numeric" pattern="[0-9]*" digitOnly  inputmode="numeric" pattern="[0-9]*" digitOnly  placeholder="Liveable Sqft #" [(ngModel)]="sellerProperty.living_square_feet" (click)="$event.stopPropagation()"/>
                        </div>
                    </div>
                </div>
                
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/year_built.png" class="icon-label img-fluid" placement="top"  matTooltip="{{yearBuildHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property" *ngIf="sellerProperty.year == null"> 
                                Year Build
                            </div>
                            <div class="label-property" (click)="editModeYearBuild = !editModeYearBuild" *ngIf="sellerProperty.year">
                                Year Build <span class="question-mark-circle rounded-circle">?</span>
                            </div>
                            <div *ngIf="!editModeYearBuild  && sellerProperty.year" class="label-property-result">{{sellerProperty.year}}</div>
                            <div *ngIf="editModeYearBuild || sellerProperty.year == null" class="label-hint">Year the House was Built?</div>
                            
                            <div class="dropdown" *ngIf="editModeYearBuild || sellerProperty.year == null">
                                <button *ngIf="sellerProperty.year == null" class="btn btn-dropdown dropdown-toggle" type="button"  id="dropdownMenuButtonYearBuild" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Year the house was built?
                                </button>
                              <button *ngIf="sellerProperty.year" class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonYearBuild" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 {{sellerProperty.year}}
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonYearBuild">
                                <div *ngFor="let year of arrayRange(171,2020)">
                                    <a class="dropdown-item" (click)="onClickYearBuild(year)">{{year}}</a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row" (click)="editModeLotSize = !editModeLotSize">
                        <div class="col-3 icon-container d-flex justify-content-center"
                        ><img src="../../../assets/img/lot_size.png" class="icon-label img-fluid" placement="top"  matTooltip="{{lotSizeHint}}"/></div>
                        <div class="col-9">
                           <div class="label-property">
                                Total Sqft Size of Lot <span class="question-mark-circle rounded-circle">?</span>
                            </div>
                            <div *ngIf="!editModeLotSize" class="label-property-result">{{sellerProperty.lot_size}} Sqft</div>
                            <div *ngIf="editModeLotSize" class="label-hint"> Livable Sqft # in Home?</div>
                            <input *ngIf="editModeLotSize" class="input-edit-property"  type="text" maxlength="6" inputmode="numeric" pattern="[0-9]*" digitOnly  placeholder="Total Size of Lot in Sqft" [(ngModel)]="sellerProperty.lot_size" (click)="$event.stopPropagation()"/>
                        </div>
                    </div>
                </div>
            </div>

            <!--Second Row-->
            <div class="row mt-4 d-none d-md-flex">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center" (click)="editModeBedrooms = !editModeBedrooms">
                            <img src="../../../assets/img/Bedrooms.png" class="icon-label img-fluid" data-toggle="tooltip" data-placement="top" placement="top"  matTooltip="{{bedroomsHint}}"/>
                        </div>
                        <div class="col-9" >
                            <div class="label-property" (click)="editModeBedrooms = !editModeBedrooms">
                                Bedrooms <span class="question-mark-circle rounded-circle" >?</span>
                            </div>
                            <div *ngIf="!editModeBedrooms" class="label-property-result">{{sellerProperty.beds}}</div>
                            <div *ngIf="editModeBedrooms" class="label-hint"># Beds In Home</div>
                            <div class="dropdown" *ngIf="editModeBedrooms">
                                <button *ngIf="sellerProperty.beds == null" class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonBedroom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select # of beds
                               </button>
                              <button *ngIf="sellerProperty.beds" class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonBedroom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{sellerProperty.beds}}
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonBedroom">
                                <a class="dropdown-item" (click)="onClickBeds(1)">1</a>
                                <a class="dropdown-item" (click)="onClickBeds(2)">2</a>
                                <a class="dropdown-item" (click)="onClickBeds(3)">3</a>
                                <a class="dropdown-item" (click)="onClickBeds(4)">4</a>
                                <a class="dropdown-item" (click)="onClickBeds(5)">5</a>
                                <a class="dropdown-item" (click)="onClickBeds(6)">6</a>
                                <a class="dropdown-item" (click)="onClickBeds(7)">7</a>
                                <a class="dropdown-item" (click)="onClickBeds(8)">8</a>
                                <a class="dropdown-item" (click)="onClickBeds(9)">9</a>
                                <a class="dropdown-item" (click)="onClickBeds(10)">10</a>
                              </div>
                            </div>
                    </div>
                </div>

                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center" (click)="editModeBathrooms = !editModeBathrooms">
                            <img src="../../../assets/img/bathroom.png" class="icon-label img-fluid" data-toggle="tooltip" data-placement="top" placement="top"  matTooltip="{{bathroomsHint}}"/>
                        </div>
                        <div class="col-9">
                        <div class="label-property" (click)="editModeBathrooms = !editModeBathrooms">
                            Bathrooms <span class="question-mark-circle rounded-circle" >?</span>
                        </div>
                        <div *ngIf="!editModeBathrooms" class="label-property-result">{{sellerProperty.baths}}</div>
                        <div class="label-hint" *ngIf="editModeBathrooms">Finished Bathrooms in Home?</div>
                        <div class="dropdown" *ngIf="editModeBathrooms">
                          <button *ngIf="sellerProperty.baths == null" class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonBathroom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select # of baths
                          </button>
                          <button *ngIf="sellerProperty.baths" class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonBathroom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{sellerProperty.baths}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonBathroom">
                            <a class="dropdown-item" (click)="onClickBaths(1)">1</a>
                            <a class="dropdown-item" (click)="onClickBaths(1.5)">1.5</a>
                            <a class="dropdown-item" (click)="onClickBaths(1.75)">1.75</a>
                            <a class="dropdown-item" (click)="onClickBaths(2)">2</a>
                            <a class="dropdown-item" (click)="onClickBaths(2.5)">2.5</a>
                            <a class="dropdown-item" (click)="onClickBaths(2.75)">2.75</a>
                            <a class="dropdown-item" (click)="onClickBaths(3)">3</a>
                            <a class="dropdown-item" (click)="onClickBaths(3.5)">3.5</a>
                            <a class="dropdown-item" (click)="onClickBaths(3.75)">3.75</a>
                            <a class="dropdown-item" (click)="onClickBaths(4)">4</a>
                            <a class="dropdown-item" (click)="onClickBaths(4.5)">4.5</a>
                            <a class="dropdown-item" (click)="onClickBaths(4.75)">4.75</a>
                            <a class="dropdown-item" (click)="onClickBaths(5)">5</a>
                            <a class="dropdown-item" (click)="onClickBaths(5.5)">5.5</a>
                            <a class="dropdown-item" (click)="onClickBaths(5.75)">5.75</a>
                            <a class="dropdown-item" (click)="onClickBaths(6)">6+</a>
                          </div>
                        </div>
                        <input *ngIf="bathroomsOther == true && editModeBathrooms" class="input-edit-property" [(ngModel)]="sellerProperty.baths" placeholder="# of Bathrooms..." type="text" maxlength="100"/>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="row">
                        <div (click)="editModeBasement = !editModeBasement" class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/Basement.png" class="icon-label img-fluid" placement="top"  matTooltip="{{basementHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property" (click)="editModeBasement = !editModeBasement">
                                Basement<span class="question-mark-circle rounded-circle">?</span>
                            </div>
                            <div *ngIf="!editModeBasement && sellerProperty.basement" class="label-property-result">
                                Yes
                            </div>
                            <div *ngIf="!editModeBasement && (sellerProperty.basement == null || sellerProperty.basement == false)" class="label-property-result">
                                No
                            </div>
                             <!-- While In Edit Mode Tags -->
                            <div *ngIf="editModeBasement" class="label-hint label-hint-above-buttons">Basement in House? If so, % Finished?</div>
                           <div  *ngIf="editModeBasement" class="row mt-2 btn-row-margin-left">
                                <div (click)="onClickBasement(false)" class="col-3 label-property-result btn-result"
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.basement == false}">
                                    No
                                </div>
                                <div (click)="onClickBasement(true)" class="col-3 label-property-result btn-result"
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.basement == true}">
                                    Yes
                                </div>
                            </div>
                            <div class="dropdown" *ngIf="sellerProperty.basement == true">
                                <button [hidden]="sellerProperty.basement_completed != null" class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Percentage Finished?
                                </button>
                                <button [hidden]="sellerProperty.basement_completed == null" class="btn dropdown-toggle" type="button" id="dropdownMenuButtonBasement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{sellerProperty.basement_completed | percent}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonBasement">
                                    <a class="dropdown-item" (click)="this.sellerProperty.basement_completed = .1">10%</a>
                                    <a class="dropdown-item" (click)="this.sellerProperty.basement_completed = .25">25%</a>
                                    <a class="dropdown-item" (click)="this.sellerProperty.basement_completed = .5">50%</a>
                                    <a class="dropdown-item" (click)="this.sellerProperty.basement_completed = .75">75%</a>
                                    <a class="dropdown-item" (click)="this.sellerProperty.basement_completed = .9">90%</a>
                                    <a class="dropdown-item" (click)="this.sellerProperty.basement_completed = 1">100%</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Third Row-->
            <div class="row mt-4 d-none d-md-flex">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/Garage.png" class="icon-label img-fluid" placement="top"  matTooltip="{{garageHint}}"/>
                        </div>
                        <div class="col-9">
                          <div class="label-property" *ngIf="sellerProperty.garage == null">
                            Garage
                          </div>
                          <div class="label-property" (click)="editModeGarage = !editModeGarage" *ngIf="sellerProperty.garage">
                              Garage <span class="question-mark-circle rounded-circle" >?</span>
                          </div>
                            <div *ngIf="!editModeGarage && sellerProperty.garage" class="label-property-result">
                                {{sellerProperty.garage}} Car
                            </div>

                            <!-- While In Edit Mode Tags -->
                            <div *ngIf="editModeGarage || sellerProperty.garage == null"  class="label-hint">Max # of Cars that Fit in Garage?</div>

                            <div class="dropdown" *ngIf="editModeGarage || sellerProperty.garage == null">
                            <button *ngIf="sellerProperty.garage == null" class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonGarage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              # of cars that Garage fits
                            </button>
                            <button *ngIf="sellerProperty.garage" class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonGarage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{sellerProperty.garage}} car
                            </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonGarage">
                            <a class="dropdown-item" (click)="onClickGarageSize(1)">1 car</a>
                            <a class="dropdown-item" (click)="onClickGarageSize(2)">2 car</a>
                            <a class="dropdown-item" (click)="onClickGarageSize(3)">3 car</a>
                            <a class="dropdown-item" (click)="onClickGarageSize(4)">4 car</a>
                            <a class="dropdown-item" (click)="onClickGarageSize(5)">5+ car</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row" >
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/Pool.png" class="icon-label img-fluid" placement="top"  matTooltip="{{poolHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property">
                                 Pool
                            </div>
                            <!-- While In Edit Mode Tags -->
                            <div class="label-hint label-hint-above-buttons">Does House have Pool?</div>
                            <div class="row mt-2 btn-row-margin-left">
                                <div (click)="onClickPool(false)" class="col-3 label-property-result btn-result"
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.pool == false}">
                                    No
                                </div>
                                <div (click)="onClickPool(true)" class="col-3 label-property-result btn-result"
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.pool == true}">
                                    Yes
                                </div>
                            </div>
                            <div *ngIf="sellerProperty.pool == true" style="width: 100%">
                                <textarea class="input-edit-property" [(ngModel)]="sellerProperty.pool_description" placeholder="Describe Pool condition..." style="resize: none" type="text" maxlength="100"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center">
                            <img src="../../../assets/img/hot_tub.png" class="icon-label img-fluid" placement="top"  matTooltip="{{hotTubHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property">
                                Hot Tub
                            </div>
                            <div class="label-hint label-hint-above-buttons">In-Ground Hot Tub?</div>
                            <div class="row mt-2 btn-row-margin-left">
                                <div (click)="onClickHotTub(false)" class="col-3 label-property-result btn-result"
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.hot_tub == false}">
                                    No
                                </div>
                                <div  (click)="onClickHotTub(true)" class="col-3 label-property-result btn-result"
                                    [ngClass]="{'btn-result-clicked' : sellerProperty.hot_tub == true}">
                                    Yes
                                </div>

                            </div>
                            <div *ngIf="sellerProperty.hot_tub == true" style="width: 100%">
                                    <textarea class="input-edit-property" [(ngModel)]="sellerProperty.hot_tub_description" placeholder="Describe Hot Tub condition..." style="resize: none" type="text" maxlength="100"></textarea>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>

            <!--Fourth Row-->
            <div class="row mt-4 d-none d-md-flex">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 icon-container d-flex justify-content-center" (click)="editModeCooling = !editModeCooling">
                            <img src="../../../assets/img/Cooling.png" class="icon-label img-fluid" data-toggle="tooltip" data-placement="top" placement="top"  matTooltip="{{coolingHint}}"/>
                        </div>
                        <div class="col-9">
                            <div class="label-property" *ngIf="sellerProperty.cooling_type == null">
                              Cooling
                            </div>
                            <div class="label-property" (click)="editModeCooling = !editModeCooling" *ngIf="sellerProperty.cooling_type">
                                Cooling <span class="question-mark-circle rounded-circle" >?</span>
                            </div>
                            <div *ngIf="!editModeCooling" class="label-property-result">{{sellerProperty.cooling_type}}</div>
                            <div class="label-hint" *ngIf="editModeCooling">Home Cooling System Type?</div>
                            <div class="dropdown" *ngIf="editModeCooling">
                              <button *ngIf="sellerProperty.cooling_type == null" class="btn btn-dropdown dropdown-toggle"  style="margin-top: .3em; " type="button" id="dropdownMenuButtonCooling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Select type of Cooling
                              </button>
                              <button *ngIf="sellerProperty.cooling_type"  class="btn btn-dropdown dropdown-toggle"  style="margin-top: .3em; " type="button" id="dropdownMenuButtonCooling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{sellerProperty.cooling_type}}
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="onClickCooling('Central HVAC')">Central HVAC</a>
                                <a class="dropdown-item" (click)="onClickCooling('Furnace & Swamp Cooler')">Furnace & Swamp Cooler</a>
                                <a class="dropdown-item" (click)="onClickCooling('Furnace Only')">Furnace Only</a>
                                <a class="dropdown-item" (click)="onClickCooling('Swamp Cooler Only')">Swamp Cooler Only</a>
                                <a class="dropdown-item" (click)="onClickCooling('Window Unit(s)')">Window Unit(s)</a>
                                <a class="dropdown-item" (click)="onClickCooling('None')">None</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




            <div class="row" style="margin-top: 1em; padding-top: 1em; border-top: 1px solid #7E7E7E">
                <div class="col-12">
                    <div class="label-question">About How Old is the Roof<span class="question-mark">?</span></div>
                    <div class="dropdown" style="width: 16em !important">
                        <button  [hidden]="sellerProperty.roof_age_range != null" class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Roof age range
                          </button>
                      <button  [hidden]="sellerProperty.roof_age_range == null" class="btn dropdown-toggle" type="button" id="dropdownMenuButtonRoof" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{sellerProperty.roof_age_range}}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonRoof">
                        <a class="dropdown-item" (click)="sellerProperty.roof_age_range = '1 - 3 Years'">1 - 3 Years</a>
                        <a class="dropdown-item" (click)="sellerProperty.roof_age_range = '4 - 6 Years'">4 - 6 Years</a>
                        <a class="dropdown-item" (click)="sellerProperty.roof_age_range = '7 - 10 Years'">7 - 10 Years</a>
                        <a class="dropdown-item" (click)="sellerProperty.roof_age_range = '11 - 15 Years'">11 - 15 Years</a>
                        <a class="dropdown-item" (click)="sellerProperty.roof_age_range = '16+ Years'">16+ Years</a>
                      </div>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-12">
                    <div class="label-question">Any HVAC, Plumbing, Electrical, or Roofing Issues we should know about<span class="question-mark">?</span></div>

                    <!-- home.concerns ?? -->
                    <textarea class="input-edit-property" [(ngModel)]="sellerProperty.concerns_hvac_roofing_etc" placeholder="HVAC, Plumbing, Electrical, or Roofing Issues..." style="resize: none" type="text" maxlength="300"></textarea>
                </div>
            </div>


            <div class="row" style="padding-bottom: 1em">
                <div class="col-12">
                    <div class="label-question">Any other concerns you can tell us about<span class="question-mark">?</span></div>

                    <!-- home.concerns ?? -->
                    <textarea class="input-edit-property" [(ngModel)]="sellerProperty.concerns_other" placeholder="Other concerns..." style="resize: none" type="text" maxlength="300"></textarea>
                </div>
            </div>

            <div *ngIf="!loggedIn" class="row" class="create-account-subtitle" style="padding-top: 1em; border-top: 1px solid #7E7E7E">
                Create a Homeslack account to save your information and to start the process selling your home.
            </div>
            <div *ngIf="!loggedIn" class="row" style="margin-top: 1em;">
                <button class="btn btn-create-account" (click)="onClickCreateAccount()">Create Account</button>
            </div>
            <div *ngIf="loggedIn" class="row">
                <div class="col-12">
                    <div class="btn-container">
                        <button class="btn-next" (click)="onClickNext()">Next</button>
                    </div>
                </div>
            </div>

            <div class="row" class="create-account-subtitle">
                Need help? Call: 888-888-9999 to reach our hotline with questions.
            </div>
        </div>
    </div>
    <br><br>
</div>
<app-footer></app-footer>
