<div class="page-container">
    <div class="top-container">
        <div id="left-side">
            <div class="header-container">
                <h1 style="color: #2A2A2A">Sell your home</h1>
                <h1 style="color: #44C6F3">for free!</h1>
            </div>
            <div class="input-container">
                <input placeholder="Enter your address..." #search [formControl]="searchControl" 
                 (keydown)="onKeyDown($event)"/>
                <button (click)="onClickSearchArrow()">Find Home</button>
            </div>
           
        </div>
        <div id="right-side">
            <img src="../../../assets/img/home_1.png"/>
        </div>
        
        
    </div>
    <div class="card-row">
        <div class="card">
            <img class="computer" src="../../../assets/img/ic_free.png" />
            <label>It's free</label>
            <ul>
                <li>No repairs needed.</li>
                <li>No closing costs.</li>
                <li>No agent fees.</li>
            </ul>
        </div>
        <div class="card center-card">
            <img class="computer" src="../../../assets/img/ic_computer.png" />
            <label>It's online</label>
            <ul>
                <li>No annoying calls.</li>
                <li>No in-person meetings.</li>
                <li>No price haggling.</li>
            </ul>
        </div>
        <div class="card">
            <img class="cash" src="../../../assets/img/ic_cash.png" />
            <label>It's cash</label>
            <ul>
                <li>No repairs needed.</li>
                <li>No closing costs.</li>
                <li>No agent fees.</li>
            </ul>
        </div>
    </div>
    <div class="blue-container">
        <img style="width: 100%;" src="../../../assets/img/home_blue.png" />
        <label>How can I receive offers<br> on my home?</label>     
    </div>
    <div class="white-container">
        <div class="sub-container-left">
            <div class="circle">1</div>
            <div class="label-container">
                <h3>Verify your information</h3>
                <h4>After we pull your address, we verify the information is correct.</h4>
            </div>
        </div>
        <div class="sub-container-right">
            <div class="circle">4</div>
            <div class="label-container">
                <h3>Qualified investors make offers </h3>
                <h4>All offers will come from cash-registered Investors</h4>
            </div>
        </div>
        <div class="sub-container-left">
            <div class="circle">2</div>
            <div class="label-container">
                <h3>Select a time-frame</h3>
                <h4>Tell us when you need the money and when you will be out of your home</h4>
            </div>
        </div>
        <div class="sub-container-right">
            <div class="circle">5</div>
            <div class="label-container">
                <h3>Select offer</h3>
                <h4>Review the Top 5 offers along with each company’s reviews, and choose which offer you’d like to select</h4>
            </div>
        </div>
        <div class="sub-container-left">
            <div class="circle">3</div>
            <div class="label-container">
                <h3>Upload pictures</h3>
                <h4>Use our friendly and interactive interface to send us pictures of your home</h4>
            </div>
        </div>
        <div class="sub-container-right">
            <div class="circle">6</div>
            <div class="label-container">
                <h3>Close</h3>
                <h4> Close the transaction through the title company and collect your money. Move out!</h4>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>