<div class="container-fluid top-image-container"  style="padding: 0 !important">
 
        <img src="../../../assets/img/banner_create_account.png" class="img-under-nav"/>
      
</div>
<h1>
  Why us
</h1>
<div class="line-divider"></div>

<h6>It's Simple... <span>Kuldasac </span>Eliminates:</h6>

<section>
    <div class="circle">1</div>
    <div class="label-container">
        <h3>Spending thousands on a realtor</h3>
        <h4>Sure, you can list your home with a realtor, or you can keep thousands of dollars in your pocket. You decide. 
          <br><br>
          Traditional realtor fees are 6% and paid completely by the seller from the proceeds of the home. That is $12,000 on a $200,000 home that you could be keeping in your own pocket. That isn't even including your seller's closing costs! 
          <br><br>
          With Kuldasac, you pay nothing to sell your home. It is completely free. Sound too good to be true? It's not. All costs associated with the selling and buying of your home (think closing costs, title, renovations, etc.) are paid by our qualified investors.
          </h4>
    </div>
</section>
<section>
    <div class="circle">2</div>
    <div class="label-container">
        <h3>Time and hassle of selling your home</h3>
        <h4>
          With Kuldasac, there are no showings or open houses and you don't need to make any changes, updates or improvements to your home. Our qualified investors will like it just the way it is.  
          <br><br>
          Avoid the hassles of selling by taking as little as 20 minutes to create your Kuldasac profile and start receiving offers! 
        </h4>
    </div>
</section>
<section>
    <div class="circle">3</div>
    <div class="label-container">
        <h3>Haggling with a low balling buyer</h3>
        <h4>
          With decades of experience in real estate, Kuldasac knows what it is like to be low-balled.
           That’s why we found a way to bring hundreds of qualified investors to one place. Take advantage 
           of our experience and avoid haggling with a single investor or company. By bringing hundreds of 
           qualified investors directly to you, the ball is in your court!
        </h4>
    </div>
</section>
<br><br><br><br><br><br>
<app-footer></app-footer>
