<footer [ngStyle]="{'background-color': backgroundColor}">
    <img src="../../../assets/img/logo_kuldasac_white.png" />
    <section>
       <ul>
            <li class="column-header">INFORMATION</li>
            <li class="column-item">PLACEHOLDER</li>
            <li class="column-item">PLACEHOLDER</li>
            <li class="column-item">PLACEHOLDER</li>
       </ul>
       <ul>
            <li class="column-header">ABOUT</li>
            <li class="column-item">PLACEHOLDER</li>
        </ul>
        <ul>
            <li class="column-header">CONTACT</li>
            <li class="column-item" routerLink="/contact">CONTACT</li>
            <li class="column-item">PLACEHOLDER</li>
        </ul>
    </section>
</footer>
