<div class="container-fluid top-image-container" >
    <div class="row" >
      <div class="col-12">
        <img src="../../../assets/img/img_banners/9.jpg" class="img-under-nav"/>
        
            <div class="container-image-and-title">
            <div class="profile-image-container rounded-circle">
              <img src="../../../assets/img/avatar.png" class="profile-image"/>
            </div>
            <div class="top-header-title">
              <span class="top-header-title-bold" *ngIf="mSeller != null">{{mSeller.first_name}}&nbsp;</span> 
              <span class="top-header-title-light" *ngIf="mSeller != null">{{mSeller.last_name}}</span>
            </div>
          </div>
 
      </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3 header" style="cursor: default;">
      My listed <span class="properties">properties</span>
      <div class="line-divider"></div>
    </div>
    <div class="col-6 offset-3">
      <app-seller-listed-property [mSellerPropertyDetails]="mSellerPropertyDetails" (click)="onClickListedProperty()"></app-seller-listed-property> 
      
      <!-- <div class="line-divider"></div> -->
      <br><br><br><br><br>
      <!-- <div *ngFor="let h of home">
        {{h}}
      </div> -->
    </div>
    
  </div>
</div>
<app-footer></app-footer>